<!-- prettier-ignore -->
{% extends "/layout.html" %} 
{% block head %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="title" content="{{_('О нас')}} · MLDC" />
    <meta property="og:title" content="{{_('О нас')}} · MLDC" />
    <meta property="twitter:title" content="{{_('О нас')}} · MLDC" />
    <title>{{_('О нас')}} · MLDC</title>

    <meta
        name="description"
        content="{{_('Мейкерспейс – уникальное образовательное, творческое и предпринимательское пространство, в котором можно будет не только получать новые знания и навыки, развиваться, но и реализовывать проекты, работать на высокотехнологичном оборудовании.')}}"
    />
    <meta
        property="og:description"
        content="{{_('Мейкерспейс – уникальное образовательное, творческое и предпринимательское пространство, в котором можно будет не только получать новые знания и навыки, развиваться, но и реализовывать проекты, работать на высокотехнологичном оборудовании.')}}"
    />
    <meta
        property="twitter:description"
        content="{{_('Мейкерспейс – уникальное образовательное, творческое и предпринимательское пространство, в котором можно будет не только получать новые знания и навыки, развиваться, но и реализовывать проекты, работать на высокотехнологичном оборудовании.')}}"
    />

    <meta property="og:image" content="Meta Preview" />
    <meta property="twitter:image" content="Meta Preview" />

    <meta property="og:url" content="https://mldc.auca.kg/about" />
    <meta property="twitter:url" content="https://mldc.auca.kg/about" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{_('Мейкерспейс АУЦА')}}" />
    <meta property="twitter:card" content="summary_large_image" />

    <meta name="robots" content="index" />

    <link rel="apple-touch-icon" sizes="180x180" href="/static/elements/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/elements/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/elements/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/static/elements/favicon/site.webmanifest" />
    <link rel="mask-icon" href="/static/elements/favicon/safari-pinned-tab.svg" color="#1e85bf" />
    <link rel="shortcut icon" href="/static/elements/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="msapplication-config" content="/static/elements/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="/static/css/main.css" />

    <script src="/static/scripts/menu.js" defer></script>
</head>
<!-- prettier-ignore -->
{% endblock %} 
{% block content %}
<main
    class="relative mt-24 flex w-full flex-col items-center justify-center overflow-x-hidden leading-normal tracking-tight"
>
    <section class="mt-10 flex w-full max-w-7xl flex-col items-center justify-center px-6 sm:mt-20">
        <article class="text-start">
            <h2 class="mb-5 w-full text-4xl font-medium sm:text-5xl">{{_('Немного о нас')}}</h2>
            <div class="grid gap-10 text-justify text-lg sm:text-2xl">
                <div class="flex flex-col gap-10 sm:flex-row">
                    <p>
                        {{_('Одна из самых больших ценностей в мире – это знания. Необходимость адаптироваться к
                        изменяющейся действительности требует от каждого постоянную готовность учиться и приобретать
                        новые навыки. Это соответствует миссии и задачам АУЦА: поддержка гражданской активности,
                        обучение на уровне сообществ и активное исследование, способствующее развитию сообществ на
                        местном, региональном и глобальном уровнях. Для решения этой задачи в АУЦА был создан Центр
                        дополнительного образования.')}}
                    </p>
                    <p>
                        {{_('За время своей работы ЦДО зарекомендовал себя как эффективный способ повышения
                        квалификации, изучения языков. Здесь действовали и действуют различные программы, рассчитанные
                        на самые разные возрастные и социальные группы: «Академия роста для детей», подготовительные
                        курсы для абитуриентов, бизнес-курсы и тренинги, IT- курсы и языковые курсы для всех желающих.
                        За эти годы было осуществлено множество проектов, большое количество студентов центра приобрели
                        знания, усовершенствовали языковые навыки, исполнили свои мечты.')}}
                    </p>
                </div>
                <img
                    class="h-40 w-full rounded-xl object-cover object-center sm:h-96"
                    src="/static/elements/about-hero.jpg"
                    alt=""
                />
                <div class="flex flex-col gap-10 sm:flex-row">
                    <p>
                        {{_('Накоплен громадный опыт, но новый день ставит иные задачи и требует более совершенные формы
                        обучения. Начинается следующая глава в истории образовательных проектов АУЦА, и называется она
                        Makerspace Learning Center (MLC). Мейкерспейс – уникальное образовательное, творческое и
                        предпринимательское пространство, в котором можно будет не только получать новые знания и
                        навыки, развиваться, но и реализовывать проекты, работать на высокотехнологичном
                        оборудовании.')}}
                    </p>
                    <p>
                        {{_('Термин makerspace стал использоваться с 2005 года для обозначения пространства, где высокие
                        технологии стали доступны для самых широких слоёв населения. Со временем понятие «мейкерспейс»
                        стало обозначать общественное движение, которое стремится популяризировать технологические
                        инновации, сделать их более доступными для широкого круга людей и тем самым позволить им
                        попробовать себя в роли инноваторов и предпринимателей. «Мейкерспейс АУЦА» станет частью этого
                        процесса, будет проводником для формирования движения «высокотехнологического сделай сам» в
                        Кыргызстане.')}}
                    </p>
                </div>
            </div>
        </article>
    </section>

    <section class="flex w-full max-w-7xl flex-col items-center justify-center px-6 pt-10 sm:pt-20">
        <h2 class="w-full text-4xl font-medium sm:text-5xl">{{_('Команда')}}</h2>

        <div
            class="mt-5 grid grid-cols-1 justify-items-center gap-x-8 gap-y-3 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
        >
            {% for member in staff %}
            <div class="flex max-w-[280px] flex-col gap-2">
                <img
                    class="h-[250px] w-[280px] rounded-xl bg-gray-200 object-cover"
                    src="{{ member.picture_url }}"
                    alt=""
                />
                <p class="flex flex-col">
                    <span class="text-xl font-medium">{{ member.name }}</span>
                    <span class="flex max-w-fit">{{ member.description }}</span>
                </p>
            </div>
            {% endfor %}
        </div>
    </section>
    <section
        class="mt-10 flex w-full flex-col items-center justify-center gap-16 rounded-t-3xl bg-gray-50 pt-10 sm:mt-20 sm:pt-20"
    >
        <article class="w-full max-w-7xl px-6 text-start">
            <h2 class="mb-5 w-full text-4xl font-medium sm:text-5xl">{{_('Наши партнёры')}}</h2>
            <p class="text-lg sm:w-1/2 sm:text-2xl">
                {{_('Нам доверяют крупные компании и организации, такие как WHO, UNDP, USAID, KICB и другие.')}}
            </p>
        </article>
        <div class="flex w-full flex-col items-center justify-center rounded-3xl bg-[#1fbbff] p-8 sm:p-16">
            <div
                class="flex w-full max-w-7xl flex-wrap items-center justify-center gap-x-4 gap-y-6 rounded-2xl bg-white px-5 py-12"
            >
                <img class="h-8 grayscale sm:h-12" src="/static/elements/logos/who.png" alt="" />
                <img class="h-8 grayscale sm:h-12" src="/static/elements/logos/undp.svg" alt="" />
                <img class="h-8 grayscale sm:h-14" src="/static/elements/logos/embassy.png" alt="" />
                <img class="h-8 grayscale sm:h-12" src="/static/elements/logos/usaid.svg" alt="" />
                <img class="h-8 grayscale sm:h-12" src="/static/elements/logos/kicb.svg" alt="" />
                <img class="h-8 grayscale sm:h-12" src="/static/elements/logos/beeline.webp" alt="" />
                <img class="h-8 grayscale sm:h-14" src="/static/elements/logos/cc.png" alt="" />
                <img class="h-8 grayscale sm:h-10" src="/static/elements/logos/hyatt.svg" alt="" />
                <img class="h-8 grayscale sm:h-16" src="/static/elements/logos/msdsp.webp" alt="" />
                <img class="h-8 grayscale sm:h-8" src="/static/elements/logos/mega.png" alt="" />
                <img class="h-8 grayscale sm:h-12" src="/static/elements/logos/jti.webp" alt="" />
                <img class="h-8 grayscale sm:h-14" src="/static/elements/logos/ab.svg" alt="" />
                <img class="h-8 grayscale sm:h-12" src="/static/elements/logos/gazprom.svg" alt="" />
                <img class="h-8 grayscale sm:h-12" src="/static/elements/logos/nato.png" alt="" />
                <img class="h-8 grayscale sm:h-12" src="/static/elements/logos/svetofor.webp" alt="" />
            </div>
        </div>
    </section>
    <section
        id="contacts"
        class="flex w-full flex-col items-center justify-center gap-4 bg-gray-50 px-6 pt-10 sm:pt-20"
    >
        <div class="flex w-full max-w-7xl flex-col items-center justify-between gap-4 sm:flex-row">
            <article class="text-start">
                <h2 class="mb-5 w-full text-4xl font-medium sm:text-5xl">{{_('Контакты')}}</h2>
                <p class="text-lg sm:w-1/2 sm:text-2xl">
                    {{_('Мы работаем')}} <b>{{_(' с понедельника по субботу')}}</b>
                    <b>{{_('с 10:00 до 20:00.')}}</b> {{_('Если у вас есть вопросы, пожалуйста, свяжитесь с нами.')}}
                </p>
            </article>
        </div>
        <div class="mt-10 flex w-full max-w-7xl flex-col items-center justify-between gap-4 sm:flex-row">
            <div class="flex w-full flex-col items-center justify-center gap-4 rounded-3xl bg-white py-8 sm:w-1/2">
                <a href="tel:+996502915022" class="select-all text-4xl font-medium">+996 502 915 022</a>
                <span class="text-xl">{{_('Телефон')}}</span>
            </div>
            <div class="flex w-full flex-col items-center justify-center gap-4 rounded-3xl bg-white py-8 sm:w-1/2">
                <a href="tel:+996550915022" class="select-all text-4xl font-medium">+996 550 915 022</a>
                <span class="text-xl">{{_('Телефон')}}</span>
            </div>
        </div>

        <div class="flex w-full max-w-7xl flex-col items-center justify-between gap-4 sm:flex-row">
            <div class="flex w-full flex-col items-center justify-center gap-4 rounded-3xl bg-white py-8 sm:w-1/2">
                <a href="tel:+996772915022" class="select-all text-4xl font-medium">+996 312 915 02</a>
                <span class="text-xl"> {{_('Городской телефон')}}</span>
            </div>
            <div class="flex w-full flex-col items-center justify-center gap-4 rounded-3xl bg-white py-8 sm:w-1/2">
                <a href="mailto:cec@auca.kg" class="select-all text-4xl font-medium">cec@auca.kg</a>
                <span class="text-xl">{{_('Электронная почта')}}</span>
            </div>
        </div>

        <div class="flex w-full max-w-7xl flex-col items-center justify-between gap-4 sm:flex-row">
            <div
                class="flex w-full max-w-7xl flex-col items-center justify-center gap-4 rounded-3xl bg-white p-6 sm:w-1/2"
            >
                <div class="flex w-full flex-col">
                    <span class="text-4xl font-medium">{{_('Как к нам добраться?')}}</span>
                    <span class="text-xl">{{_('Мы находимся в отдельном здании возле АУЦА ')}}</span>
                </div>
                <iframe
                    class="w-full rounded-xl border-0"
                    height="450"
                    loading="lazy"
                    allowfullscreen
                    allow="fullscreen"
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB35Ebq8gL0lrddfrsSzRiTe2YRhWI2tmY&q=AUCA"
                >
                </iframe>
            </div>
        </div>
    </section>
</main>

{% endblock %}
