{% extends "/layout.html" %} {% block title %}О нас{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block
content %}
<main
    class="relative mt-24 flex w-full flex-col items-center justify-center overflow-x-hidden bg-gray-50 leading-normal tracking-tight"
>
    <section class="mt-10 flex w-full max-w-7xl flex-col items-center justify-center px-6 sm:mt-20">
        <article class="text-start">
            <h1 class="mb-5 w-full text-4xl font-medium sm:w-3/4 sm:text-7xl">
                {{_('Курсы на ваш выбор, под ваши цели')}}
            </h1>
            <p class="text-lg sm:w-1/2 sm:text-2xl">
                {{_('Предоставим программу обучения, исходя из ваших запросов, поможем достичь цели, используя уроки по
                самым актуальным темам.')}}
            </p>
        </article>
    </section>
    <section class="mt-5 flex w-full max-w-7xl flex-col items-start justify-start px-6">
        <div class="flex flex-wrap gap-3">
            <a
                class="{{ 'bg-sky-500 text-white' if request.args.get('course_group') == None else 'bg-white' }} w-max rounded-lg  px-3 py-2 text-lg font-medium transition-colors ease-out hover:bg-sky-400 hover:text-white"
                href="/courses"
                >{{_('Все')}}</a
            >
            {% for course_group in course_groups %}
            <a
                class="{{ 'bg-sky-500 text-white' if request.args.get('course_group') == course_group.slug else 'bg-white' }} w-max rounded-lg  px-3 py-2 text-lg font-medium transition-colors ease-out hover:bg-sky-400 hover:text-white"
                href="?course_group={{ course_group.slug }}"
                >{{ course_group.name }}</a
            >
            {% endfor %}
        </div>

        <div class="mt-10 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
            {% for course in courses %}
            <article class="flex flex-col gap-3 rounded-xl bg-white p-9">
                <img class="rounded-lg" src="{{ course.picture_url }}" alt="" />
                <h2 class="text-3xl font-medium">{{ course.name }}</h2>
                <p class="text-lg">{{ course.description.replace('\n', '<br />') | safe }}</p>
                <a
                    class="text-lg font-medium text-blue-600 transition-colors ease-in-out hover:text-blue-500"
                    href="course/{{ course.slug }}"
                    >{{_('Подробнее...')}}</a
                >
            </article>
            {% endfor %}
        </div>
    </section>
    
</main>
{% endblock %}
