<!-- prettier-ignore -->
{% extends "/layout.html" %} 
{% block head %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="title" content="{{_('Курсы · MLDC · Курсы в Бишкеке')}}" />
    <meta property="og:title" content="{{_('Курсы · MLDC · Курсы в Бишкеке')}}" />
    <meta property="twitter:title" content="{{_('Курсы · MLDC · Курсы в Бишкеке')}}" />
    <title>{{_('Курсы · MLDC · Курсы в Бишкеке')}}</title>

    <meta
        name="description"
        content="{{_('Мейкерспейс – уникальное образовательное, творческое и предпринимательское пространство, в котором можно будет не только получать новые знания и навыки, развиваться, но и реализовывать проекты, работать на высокотехнологичном оборудовании.')}}"
    />
    <meta
        property="og:description"
        content="{{_('Мейкерспейс – уникальное образовательное, творческое и предпринимательское пространство, в котором можно будет не только получать новые знания и навыки, развиваться, но и реализовывать проекты, работать на высокотехнологичном оборудовании.')}}"
    />
    <meta
        property="twitter:description"
        content="{{_('Мейкерспейс – уникальное образовательное, творческое и предпринимательское пространство, в котором можно будет не только получать новые знания и навыки, развиваться, но и реализовывать проекты, работать на высокотехнологичном оборудовании.')}}"
    />

    <meta property="og:image" content="Meta Preview" />
    <meta property="twitter:image" content="Meta Preview" />

    <meta property="og:url" content="https://mldc.auca.kg/courses" />
    <meta property="twitter:url" content="https://mldc.auca.kg/courses" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{_('Мейкерспейс АУЦА')}}" />
    <meta property="twitter:card" content="summary_large_image" />

    <meta name="robots" content="index" />

    <link rel="apple-touch-icon" sizes="180x180" href="/static/elements/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/elements/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/elements/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/static/elements/favicon/site.webmanifest" />
    <link rel="mask-icon" href="/static/elements/favicon/safari-pinned-tab.svg" color="#1e85bf" />
    <link rel="shortcut icon" href="/static/elements/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="msapplication-config" content="/static/elements/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="/static/css/main.css" />

    <script src="/static/scripts/menu.js" defer></script>
</head>
<!-- prettier-ignore -->
{% endblock %} 
{% block content %}
<main
    class="relative mt-24 flex w-full flex-col items-center justify-center overflow-x-hidden bg-gray-50 leading-normal tracking-tight"
>
    <section class="mt-10 flex w-full max-w-7xl flex-col items-center justify-center px-6 sm:mt-20">
        <article class="text-start">
            <h1 class="mb-5 w-full text-4xl font-medium sm:w-3/4 sm:text-7xl">
                {{_('Курсы на ваш выбор, под ваши цели')}}
            </h1>
            <p class="text-lg sm:w-1/2 sm:text-2xl">
                {{_('Предоставим программу обучения, исходя из ваших запросов, поможем достичь цели, используя уроки по
                самым актуальным темам.')}}
            </p>
        </article>
    </section>
    <section class="mt-5 flex w-full max-w-7xl flex-col items-start justify-start px-6">
        <div class="flex flex-wrap gap-3">
            <a
                class="{{ 'bg-sky-500 text-white' if course_group_name == None else 'bg-white' }} w-max rounded-lg  px-3 py-2 text-lg font-medium transition-colors ease-out hover:bg-sky-400 hover:text-white"
                href="/courses"
                >{{_('Все')}}</a
            >
            {% for course_group in course_groups %}
            <a
                class="{{ 'bg-sky-500 text-white' if course_group.slug == course_group_name else 'bg-white' }} w-max rounded-lg  px-3 py-2 text-lg font-medium transition-colors ease-out hover:bg-sky-400 hover:text-white"
                href="/courses/{{ course_group.slug }}"
                >{{ course_group.name }}</a
            >
            {% endfor %}
        </div>

        <div class="mt-10 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
            {% for course in courses %}
            <article class="flex flex-col gap-3 rounded-xl bg-white p-4 sm:p-9">
                <a href="/course/{{ course.slug }}">
                    <img class="aspect-video rounded-lg" src="{{ course.picture_url }}" alt="" loading="lazy" />
                </a>
                <h2 class="text-3xl font-medium">{{ course.name }}</h2>
                <p class="text-justify text-lg text-gray-700">
                    {{ course.description.replace('\n', '<br />') | safe }}
                </p>
                <a
                    class="text-lg font-medium text-blue-600 transition-colors ease-in-out hover:text-blue-500"
                    href="/course/{{ course.slug }}"
                    >{{_('Подробнее...')}}</a
                >
            </article>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
