{% extends "/layout.html" %} {% block title %}{{ course.name }}{% endblock %} {% block head %} {{ super() }} {% endblock
%} {% block content %}
<main
    class="relative mt-24 flex w-full flex-col items-center justify-center overflow-x-hidden bg-gray-50 leading-normal tracking-tight"
>
    <section class="mt-10 flex w-full max-w-7xl flex-col items-center justify-center px-6 sm:mt-20">
        <article class="flex w-full flex-col gap-2 text-start">
            <h1 class="mb-5 w-full text-4xl font-medium sm:w-3/4 sm:text-7xl">{{ course.name }}</h1>
            <p class="text-lg sm:w-1/2 sm:text-2xl">{{ course.description.replace('\n', '<br />') | safe }}</p>
            <img class="mt-10 aspect-[4/1] w-full rounded-3xl object-cover" src="{{ course.picture_url }}" alt="" />
        </article>
    </section>
    <section class="mt-10 flex w-full max-w-7xl flex-col items-center justify-center px-6 sm:mt-20">
        <h2 class="font-mediu mb-5 w-full text-3xl font-medium sm:text-5xl">Группы</h2>
        <div class="grid grid-cols-1 place-content-center gap-3 min-[870px]:grid-cols-2 xl:grid-cols-3">
            {% for timetable in timetables %}
            <article class="flex w-full flex-col rounded-3xl border bg-white p-5 sm:h-[400px] sm:w-[400px]">
                <h3 class="text-xl font-medium sm:text-2xl">{{ timetable.name }}</h3>
                <span>{{ timetable.duration }}</span>
                <div class="mt-8 flex gap-1">
                    {% for index, data in timetable.json_data.items() %} {% if data.selected %}
                    <div
                        class="flex w-full flex-col items-center justify-between gap-2 rounded-xl bg-sky-500 py-2 text-xs font-medium text-white sm:text-sm"
                    >
                        <span>{{ data.shorthand }}</span>
                        <span>{{ data.time }}</span>
                    </div>
                    {% else %}
                    <div
                        class="flex w-full flex-col items-center justify-between gap-2 rounded-xl bg-gray-100 py-2 text-xs font-medium sm:text-sm"
                    >
                        <span>{{ data.shorthand }}</span>
                        <span></span>
                    </div>
                    {% endif %} {% endfor %}
                </div>
                <p class="mt-4 text-lg">{{ timetable.description | safe }}</p>
                <div class="mt-10 flex w-full items-center justify-between sm:mt-auto">
                    <span class="mr-4 text-lg leading-5">{{ timetable.price }}</span>
                    <button
                        class="rounded-lg bg-sky-500 px-4 py-3 font-medium text-white transition-all ease-in-out hover:scale-105 hover:bg-sky-400"
                    >
                        Записаться
                    </button>
                </div>
            </article>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
