{% extends "/layout.html" %} {% block additional_scripts %}
<script src="/static/scripts/calendar.js" defer></script>
{% endblock %} {% block title %}{{_('Мейкерспейс АУЦА')}}{% endblock %} {% block head %} {{ super() }}
{% endblock %} {% block content %}
<main
    class="relative mt-24 flex w-full flex-col items-center justify-center overflow-x-hidden leading-normal tracking-tight"
>
    <section id="toelf_banner" class="flex h-14 w-full items-center justify-center gap-3 bg-[#08559a] px-6">
        <span class="text-xl font-bold text-white">{{_('Результаты TOEFL')}}</span>
        <a class="rounded-full bg-white px-2 py-1 text-sm transition-colors ease-in-out hover:bg-gray-100" href="/toefl"
            >{{_('Смотреть')}}</a
        >
    </section>
    <span
        class="hidden bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero-1.jpg')]"
    ></span>
    <span
        class="hidden bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero-2.jpg')]"
    ></span>
    <span
        class="hidden bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero-3.jpg')]"
    ></span>
    <span
        class="hidden bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero-4.jpg')]"
    ></span>
    <section
        class="flex h-[300px] w-full justify-center bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/{{ random_hero }}')] bg-cover bg-right px-6 sm:h-[500px]"
        id="hero"
    >
        <div class="flex w-full max-w-5xl justify-center">
            <div class="mt-10 flex max-w-7xl flex-col gap-2 sm:mt-20">
                <h1 class="w-4/6 text-pretty text-4xl font-medium text-white sm:w-1/2 sm:text-6xl">
                    {{_('Станьте частью креативного общества с Мейкерспейс АУЦА')}}
                </h1>
            </div>
        </div>
    </section>
    <section class="mt-14 flex max-w-7xl flex-col items-center justify-center px-6">
        <h2 class="text-center text-4xl font-medium sm:text-5xl">{{_('Что такое Мейкерспейс АУЦА?')}}</h2>
        <div class="mt-14 grid grid-cols-2 gap-x-10 gap-y-10 sm:gap-x-20 lg:grid-cols-4">
            <div>
                <h3 class="text-4xl">{{_('18 лет')}}</h3>
                <span>{{_('На рынке образования ')}}</span>
            </div>
            <div>
                <h3 class="text-4xl">50 000+</h3>
                <span>{{_('Довольных учеников')}}</span>
            </div>
            <div>
                <h3 class="text-4xl">65</h3>
                <span>{{_('Опытных преподавателей')}}</span>
            </div>
            <div>
                <h3 class="text-4xl">97%</h3>
                <span>{{_('Довольных клиентов')}}</span>
            </div>
        </div>
    </section>
    <section class="mt-28 flex w-full max-w-7xl flex-col items-center justify-center gap-2 px-6 pb-3">
        <div class="flex w-full flex-row flex-wrap justify-between">
            <h2 class="mb-5 w-full text-4xl font-medium sm:text-5xl">{{_('Курсы')}}</h2>
        </div>
        <div class="grid w-full grid-cols-1 flex-wrap items-center justify-center gap-8 sm:grid-cols-2 lg:grid-cols-3">
            {% for course_group in course_groups %}
            <div class="group flex h-full w-full flex-col items-center gap-3 overflow-hidden rounded-3xl border">
                <a href="/courses?course_group={{ course_group.slug }}">
                    <img class="min-h-1/2 aspect-video object-cover" src="{{ course_group.picture_url }}" />
                </a>
                <div class="flex flex-col items-center gap-3 text-pretty p-5 text-center">
                    <span class="text-2xl font-bold">{{ course_group.name }}</span>
                    <p class="text-gray-500">{{ course_group.description.replace('\n', '<br />') | safe }}</p>
                </div>
                <a
                    class="mb-6 mt-auto w-1/3 rounded-md bg-sky-500 py-2 text-center text-sm text-white transition-colors ease-in-out hover:bg-sky-400"
                    href="/courses?course_group={{ course_group.slug }}"
                    >{{_('Подробнее')}}</a
                >
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="mt-20 flex w-full max-w-7xl flex-col items-center justify-center gap-2 px-6 pb-3">
        <h2 class="mb-5 w-full text-4xl font-medium sm:text-5xl">{{_('Клубы')}}</h2>
        <div class="flex w-full flex-col overflow-hidden rounded-xl border shadow-sm sm:flex-row">
            <div class="relative sm:max-w-[40%]">
                <img class="aspect-video object-cover" src="/static/elements/chess.jpg" />
            </div>
            <div class="flex w-full flex-wrap">
                <div class="flex h-full w-full flex-col p-4">
                    <h3 class="flex items-center text-3xl font-bold text-gray-800">
                        {{_('Шахматы')}}
                        <span class="ml-2 rounded-full bg-sky-500 px-3 py-px text-sm text-white"
                            >{{_('Бесплатно')}}</span
                        >
                    </h3>
                    <article class="mb-10 mt-1 text-gray-500">
                        {{_('Шахматы - игра, которая точно прошла тест на время. Подходит как и взрослым, так и
                        детям.')}}
                    </article>
                    <button
                        class="ml-auto mt-auto rounded-lg bg-sky-500 px-3 py-2 text-white transition-colors ease-in-out hover:bg-sky-400"
                    >
                        {{_('Зарегистрироваться')}}
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-20 flex w-full max-w-7xl flex-col items-center justify-center gap-2 px-6 pb-3">
        <h2 class="mb-5 w-full text-4xl font-medium sm:text-5xl">{{_('Календарь')}}</h2>
        <div class="flex w-full flex-wrap-reverse justify-center lg:justify-between">
            <!-- Events -->
            <div class="flex w-[430px] flex-col gap-7 lg:w-1/2">
                <h3 class="text-lg font-semibold text-gray-700">{{_('Предстоящие события')}}</h3>
                <ul id="events" class="flex flex-col gap-3">
                    <div class="hidden border-emerald-300 bg-emerald-300"></div>
                    <div class="hidden border-indigo-300 bg-indigo-300"></div>
                    <div class="hidden border-fuchsia-300 bg-fuchsia-300"></div>
                    <div class="hidden border-rose-300 bg-rose-300"></div>
                    <div class="hidden border-amber-300 bg-amber-300"></div>
                </ul>
            </div>
            <!-- End Events -->

            <!-- Calendar -->
            <div class="mb-4 space-y-1">
                <!-- Months -->
                <div class="mx-1.5 grid grid-cols-5 items-center gap-x-3 pb-3">
                    <!-- Prev Button -->
                    <div class="col-span-1">
                        <button
                            type="button"
                            class="flex h-8 w-8 items-center justify-center rounded-full text-gray-800 hover:bg-gray-100"
                            onclick="prevMonth()"
                        >
                            <svg
                                class="h-4 w-4 flex-shrink-0"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path d="m15 18-6-6 6-6" />
                            </svg>
                        </button>
                    </div>
                    <!-- End Prev Button -->

                    <!-- Month -->
                    <div
                        id="month-name"
                        class="col-span-3 flex items-center justify-center gap-x-1 text-base sm:text-2xl"
                    ></div>
                    <!-- End Month -->

                    <!-- Next Button -->
                    <div class="col-span-1 flex justify-end">
                        <button
                            type="button"
                            class="flex h-8 w-8 items-center justify-center rounded-full text-gray-800 hover:bg-gray-100"
                            onclick="nextMonth()"
                        >
                            <svg
                                class="h-4 w-4 flex-shrink-0"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path d="m9 18 6-6-6-6" />
                            </svg>
                        </button>
                    </div>
                    <!-- End Next Button -->
                </div>
                <!-- Months -->

                <!-- Weeks -->
                <div class="flex pb-1.5">
                    {% for weekday in ("Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс") %}
                    <span class="m-px block w-10 text-center text-sm text-gray-500 sm:m-3 sm:text-xl">
                        {{ weekday }}
                    </span>
                    {% endfor %}
                </div>
                <!-- Weeks -->

                <!-- Days -->
                <div id="month-matrix"></div>
                <!-- Days -->
            </div>
            <!-- End Calendar -->
        </div>
    </section>
    <section class="mt-20 flex w-full max-w-7xl flex-col items-center justify-center gap-2 px-6 pb-3">
        <h2 class="mb-5 w-full text-4xl font-medium sm:text-5xl">{{_('Отзывы')}}</h2>
        <div class="grid w-full grid-cols-1 gap-3 sm:grid-cols-2 lg:grid-cols-3">
            {% for feedback in feedbacks %}
            <article class="flex flex-col rounded-3xl border p-5">
                <div class="flex gap-3">
                    {% if feedback.picture_url %}
                    <img
                        class="flex aspect-square h-12 items-center justify-center rounded-full bg-gray-300 object-cover"
                        src="{{ feedback.picture_url }}"
                        alt=""
                    />
                    {% else %}
                    <div class="flex aspect-square h-12 items-center justify-center rounded-full bg-gray-300">
                        <svg width="24" height="32" viewBox="0 0 24 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M12 8C7.58172 8 4 11.5817 4 16C4 17.6797 4.51765 19.2385 5.40212 20.5255C7.39411 19.5484 9.6342 19 12 19C14.3658 19 16.6059 19.5484 18.5979 20.5255C19.4823 19.2384 20 17.6797 20 16C20 11.5817 16.4183 8 12 8ZM19.6542 22.4356C21.1181 20.6964 22 18.4512 22 16C22 10.4772 17.5228 6 12 6C6.47715 6 2 10.4772 2 16C2 18.4512 2.88193 20.6964 4.34577 22.4356C4.35369 22.4454 4.36176 22.4549 4.36998 22.4643C6.20429 24.6272 8.94183 26 12 26C15.0582 26 17.7957 24.6272 19.63 22.4643C19.6382 22.4549 19.6463 22.4454 19.6542 22.4356ZM17.1986 22.0808C15.6074 21.3858 13.8497 21 12 21C10.1503 21 8.39259 21.3858 6.80137 22.0808C8.1996 23.2774 10.0154 24 12 24C13.9846 24 15.8004 23.2774 17.1986 22.0808ZM12 12C10.8954 12 10 12.8954 10 14C10 15.1046 10.8954 16 12 16C13.1046 16 14 15.1046 14 14C14 12.8954 13.1046 12 12 12ZM8 14C8 11.7909 9.79086 10 12 10C14.2091 10 16 11.7909 16 14C16 16.2091 14.2091 18 12 18C9.79086 18 8 16.2091 8 14Z"
                                fill="#252525"
                            />
                        </svg>
                    </div>
                    {% endif %}
                    <div class="flex flex-col">
                        <span class="text-xl font-medium">{{ feedback.name }}</span>
                        <span class="text-gray-400">{{ feedback.created_at }}</span>
                    </div>
                </div>
                <p class="mt-2 text-gray-600">{{ feedback.message.replace('\n', '<br />') | safe }}</p>
                {% if feedback.course %}
                <div class="mt-4 w-fit text-nowrap rounded-full bg-gray-200 px-5 py-1 text-sm text-gray-700">
                    {{ feedback.course }}
                </div>
                {% endif %}
            </article>
            {% endfor %}
        </div>
    </section>
    <section class="mt-20 flex w-full max-w-7xl flex-col items-center justify-center gap-2 px-6 pb-3">
        <h2 class="mb-5 w-full text-4xl font-medium sm:text-5xl">{{_('Частые вопросы')}}</h2>

        <div class="grid w-full gap-6 sm:grid-cols-3 md:gap-12">
            <div>
                <h3 class="text-lg font-semibold text-gray-800">
                    {{_('Как я могу узнать, какой курс мне подходит?')}}
                </h3>
                <p class="mt-2 text-gray-600">
                    {{_('Вы можете ознакомиться с описанием каждого курса на нашем сайте. Также вы можете связаться с
                    нами по телефону или электронной почте, и наши консультанты помогут вам выбрать курс, который
                    соответствует вашим целям и уровню подготовки.')}}
                </p>
            </div>
            <!-- End Col -->

            <div>
                <h3 class="text-lg font-semibold text-gray-800">{{_('Как я могу записаться на курс?')}}</h3>
                <p class="mt-2 text-gray-600">
                    {{_('Вы можете записаться на курс на нашем сайте, заполнив форму заявки. Также вы можете связаться с
                    нами по телефону или прийти к нам в офис.')}}
                </p>
            </div>
            <!-- End Col -->

            <div>
                <h3 class="text-lg font-semibold text-gray-800">
                    {{_('Как я могу записаться на пробное тестирование TOEFL?')}}
                </h3>
                <p class="mt-2 text-gray-600">{{_('Вы можете записаться')}}</p>
            </div>
            <!-- End Col -->

            <div>
                <h3 class="text-lg font-semibold text-gray-800">
                    {{_('Я сдал пробное тестирование, где я могу узнать свой результат?')}}
                </h3>
                <p class="mt-2 text-gray-600">
                    {{_('Также Результаты пробного тестирования можете найти')}}
                    <a class="underline" href="/toefl">{{_('здесь')}}</a>.
                </p>
            </div>
            <!-- End Col -->

            <div>
                <h3 class="text-lg font-semibold text-gray-800">{{_('Нужен ли мне компьютер для обучения?')}}</h3>
                <p class="mt-2 text-gray-600">
                    {{_('Мы предоставляем всю нужную информацию и материалы для обучения. Вам не нужен компьютер, но он
                    может быть полезен для самостоятельного изучения материала.')}}
                </p>
            </div>
            <!-- End Col -->

            <div>
                <h3 class="text-lg font-semibold text-gray-800">{{_('Есть ли у вас индивидуальный занятия?')}}</h3>
                <p class="mt-2 text-gray-600">{{_('Да, есть!')}}</p>
            </div>
            <!-- End Col -->
        </div>
    </section>

    <section
        id="registration-form"
        class="mt-20 flex w-full flex-col items-center justify-center rounded-t-3xl bg-gray-50 px-6 py-16"
    >
        <div class="flex w-full max-w-5xl flex-col gap-10 rounded-2xl bg-[#1fbbff] p-10">
            <h2 class="text-4xl font-medium text-white sm:w-1/2">
                {{_('Самое сложное - это начать. Оставьте заявку и мы поможем вам со всем!')}}
            </h2>
            <div class="flex flex-col gap-10 sm:flex-row">
                <form class="flex w-full flex-col gap-3 sm:w-1/2" action="/register" method="POST">
                    <input
                        class="rounded-xl border-0 py-3 text-lg"
                        name="name"
                        id="name"
                        type="text"
                        autocomplete="name"
                        placeholder="{{_('Асан Асанов')}}"
                        required
                    />
                    <input
                        class="rounded-xl border-0 py-3 text-lg"
                        name="phone"
                        id="phone"
                        type="tel"
                        autocomplete="tel"
                        placeholder="+996 996 99 69 96"
                        required
                    />
                    <input
                        class="rounded-xl border-0 py-3 text-lg"
                        name="age"
                        id="age"
                        type="number"
                        placeholder="{{_('16 лет')}}"
                        required
                    />
                    <input
                        class="rounded-xl border-0 py-3 text-lg"
                        name="course_info"
                        id="course_info"
                        type="text"
                        placeholder="{{_('Английский Pre-Intermediate')}}"
                        required
                    />
                    <button class="rounded-xl bg-[#fad800] py-3 text-lg font-medium hover:bg-[#ffe22e]" type="submit">
                        {{_('Оставить заявку')}}
                    </button>
                </form>
                <div class="flex w-full flex-col gap-3 text-white sm:w-1/2">
                    <h3 class="text-3xl font-medium">{{_('Что дальше?')}}</h3>
                    <p class="text-2xl">
                        {{_('Ждите от нас звонка! Наш менеджер свяжется с Вами и проконсультирует.')}}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="toast">
        {% if success == True %}
        <div
            class="fixed bottom-5 right-1/2 mx-4 flex w-[calc(100%-32px)] max-w-3xl translate-x-[calc(50%+16px)] items-center gap-3 rounded-lg border bg-white p-5 shadow-xl"
        >
            <div class="flex size-12 flex-shrink-0 items-center justify-center rounded-full bg-green-100">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-6 w-6 text-green-500"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                    />
                </svg>
            </div>
            <div>
                <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">
                    {{_('Успешная регистрация')}}
                </h3>
                <p class="text-sm text-gray-500">
                    {{_('Если у вас есть вопросы, позвоните по номеру +996 312 915 022')}}
                </p>
            </div>
        </div>
        {% elif success == False %}
        <div
            class="fixed bottom-5 right-1/2 mx-4 flex w-[calc(100%-32px)] max-w-3xl translate-x-[calc(50%+16px)] items-center gap-3 rounded-lg border bg-white p-5 shadow-xl"
        >
            <div class="flex size-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-6 w-6 text-red-500"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"
                    />
                </svg>
            </div>
            <div>
                <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">
                    {{_('Произошла ошибка')}}
                </h3>
                <p class="text-sm text-gray-500">
                    {{_('Если у вас есть вопросы, позвоните по номеру +996 312 915 022')}}
                </p>
            </div>
        </div>
        {% endif %}
    </section>
</main>
{% endblock %}
