{% extends "/layout.html" %} {% block additional_scripts %}
<script src="/static/scripts/calendar.js" defer></script>
{% endblock %} {% block title %}Центр Дополнительного Образования{% endblock %} {% block head %} {{ super() }} {%
endblock %} {% block content %}
<main
    class="relative mt-24 flex w-full flex-col items-center justify-center overflow-x-hidden leading-normal tracking-tight"
>
    <section id="toelf_banner" class="flex h-14 w-full items-center justify-center gap-3 bg-[#08559a] px-6">
        <span class="text-xl font-bold text-white">Результаты TOEFL</span>
        <a class="rounded-full bg-white px-2 py-1 text-sm transition-colors ease-in-out hover:bg-gray-100" href="/toefl"
            >Смотреть</a
        >
    </section>
    <section
        class="flex h-[300px] w-full justify-center bg-zinc-400 bg-[url(/static/elements/hero.webp)] bg-cover bg-top px-6 sm:h-[500px]"
        id="hero"
    >
        <div class="flex w-full max-w-5xl justify-center">
            <div class="mt-10 flex max-w-7xl flex-col gap-2 sm:mt-20">
                <h1 class="text-3xl font-medium text-white sm:w-1/2 sm:text-6xl">
                    Учитесь новым навыкам вместе с ЦДО!
                </h1>
                <h2 class="text-lg font-medium text-gray-300 sm:text-2xl">
                    Научитесь чему-то новому всего за 3 месяца
                </h2>
            </div>
        </div>
    </section>
    <section class="mt-14 flex max-w-7xl flex-col items-center justify-center px-6">
        <h2 class="text-center text-4xl sm:text-5xl">Что такое Центр Дополнительного Образования?</h2>
        <div class="fade-container relative flex">
            <div class="element opacity-100 transition-opacity duration-[1500ms] ease-in-out" id="element1">
                <div class="mt-14 grid grid-cols-1 place-items-center gap-20 sm:grid-cols-2 xl:grid-cols-4">
                    <div class="w-52">
                        <h3 class="text-4xl">15+ лет</h3>
                        <span>На образовательном рынке</span>
                    </div>
                    <div class="w-52">
                        <h3 class="text-4xl">5000+</h3>
                        <span>Довольных учеников</span>
                    </div>
                    <div class="w-52">
                        <h3 class="text-4xl">65</h3>
                        <span>Высококвалифицированных преподавателей</span>
                    </div>
                    <div class="w-52">
                        <h3 class="text-4xl">100+</h3>
                        <span>Различных методик образования</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section
        class="mt-24 flex w-full max-w-7xl flex-col items-start justify-start rounded-3xl bg-black px-6 py-10 text-white"
    >
        <div class="flex w-full flex-row flex-wrap justify-between">
            <h2 class="mb-3 text-4xl font-bold sm:text-5xl">Курсы</h2>
            <div class="max-w-[500px] text-xl tracking-normal">
                Все наши курсы проверены временем и помогли многим людям достичь успеха в своей жизни. Вы можете выбрать
                любой курс, который вам нравится и начать обучение прямо сейчас!
            </div>
        </div>
        <div class="mt-10 flex w-full flex-wrap items-center justify-center gap-8">
            {% for course in courses %}
            <div
                class="group flex w-full flex-col justify-between gap-3 rounded-3xl bg-white p-5 text-black transition-transform duration-300 ease-in-out hover:scale-[1.02] sm:flex-row xl:max-w-xl"
            >
                <div class="flex flex-col justify-between gap-3 text-2xl font-medium sm:w-1/2">
                    <span class="">{{ course.name }}</span>
                    <p class="text-base">{{ course.description }}</p>
                    <a
                        class="rounded-md bg-sky-500 py-2 text-center text-sm text-white transition-colors ease-in-out hover:bg-sky-400"
                        href="/courses?course_group={{ course.link }}"
                        >Подробнее</a
                    >
                </div>
                <img
                    class="h-1/2 rounded-xl bg-slate-300 object-cover transition-transform duration-300 ease-in-out group-hover:scale-[.98] sm:w-1/2"
                    src="{{ course.picture_url }}"
                />
            </div>
            {% endfor %}
        </div>
    </section>
    <section>Chess</section>
    <section class="mt-36 flex w-full max-w-7xl flex-col items-center justify-center gap-2 px-6 pb-3">
        <h2 class="mb-5 w-full text-4xl font-medium sm:text-5xl">Календарь</h2>
        <div class="flex w-full flex-wrap-reverse justify-center lg:justify-between">
            <!-- Events -->
            <div class="flex w-[430px] flex-col gap-7 lg:w-1/2">
                <h3 class="text-lg font-semibold text-gray-700">Предстоящие события</h3>
                <ul id="events" class="flex flex-col gap-3">
                    <div class="hidden border-emerald-300 bg-emerald-300"></div>
                    <div class="hidden border-indigo-300 bg-indigo-300"></div>
                    <div class="hidden border-fuchsia-300 bg-fuchsia-300"></div>
                    <div class="hidden border-rose-300 bg-rose-300"></div>
                    <div class="hidden border-amber-300 bg-amber-300"></div>
                </ul>
            </div>
            <!-- End Events -->

            <!-- Calendar -->
            <div class="mb-4 space-y-1">
                <!-- Months -->
                <div class="mx-1.5 grid grid-cols-5 items-center gap-x-3 pb-3">
                    <!-- Prev Button -->
                    <div class="col-span-1">
                        <button
                            type="button"
                            class="flex h-8 w-8 items-center justify-center rounded-full text-gray-800 hover:bg-gray-100"
                            onclick="prevMonth()"
                        >
                            <svg
                                class="h-4 w-4 flex-shrink-0"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path d="m15 18-6-6 6-6" />
                            </svg>
                        </button>
                    </div>
                    <!-- End Prev Button -->

                    <!-- Month -->
                    <div
                        id="month-name"
                        class="col-span-3 flex items-center justify-center gap-x-1 text-base sm:text-2xl"
                    ></div>
                    <!-- End Month -->

                    <!-- Next Button -->
                    <div class="col-span-1 flex justify-end">
                        <button
                            type="button"
                            class="flex h-8 w-8 items-center justify-center rounded-full text-gray-800 hover:bg-gray-100"
                            onclick="nextMonth()"
                        >
                            <svg
                                class="h-4 w-4 flex-shrink-0"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path d="m9 18 6-6-6-6" />
                            </svg>
                        </button>
                    </div>
                    <!-- End Next Button -->
                </div>
                <!-- Months -->

                <!-- Weeks -->
                <div class="flex pb-1.5">
                    {% for weekday in ("Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс") %}
                    <span class="m-px block w-10 text-center text-sm text-gray-500 sm:m-3 sm:text-xl">
                        {{ weekday }}
                    </span>
                    {% endfor %}
                </div>
                <!-- Weeks -->

                <!-- Days -->
                <div id="month-matrix"></div>
                <!-- Days -->
            </div>
            <!-- End Calendar -->
        </div>
    </section>
    <section>Testimonials</section>
    <section>Payment process</section>
    <section>FAQ</section>

    <section class="mt-20 flex w-full flex-col items-center justify-center rounded-t-3xl bg-[#eff0f5] px-6 py-16">
        <div class="flex w-full max-w-5xl flex-col gap-10 rounded-2xl bg-[#1fbbff] p-10">
            <h2 class="text-4xl font-medium text-white sm:w-1/2">
                Самое сложное - это начать. Оставьте заявку, и мы поможем вам со всем!
            </h2>
            <div class="flex flex-col gap-10 sm:flex-row">
                <form class="flex w-full flex-col gap-3 sm:w-1/2" action="">
                    <input
                        class="rounded-xl border-0 py-3 text-lg"
                        type="text"
                        autocomplete="name"
                        placeholder="Асан Асанов"
                        required
                    />
                    <input
                        class="rounded-xl border-0 py-3 text-lg"
                        type="tel"
                        autocomplete="tel-national"
                        placeholder="+996 996 99 69 96"
                        required
                    />
                    <button class="rounded-xl bg-[#fad800] py-3 text-lg font-medium hover:bg-[#ffe22e]" type="submit">
                        Оставить заявку
                    </button>
                </form>
                <div class="flex w-full flex-col gap-3 text-white sm:w-1/2">
                    <h3 class="text-3xl font-medium">Что дальше?</h3>
                    <p class="text-2xl">
                        Ждите от нас звонка! Наш менеджер свяжется с вами и поможет подобрать подходящий вам курс.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
