<!-- prettier-ignore -->
{% extends "/layout.html" %} 
{% block head %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="title" content="{{_('Мейкерспейс АУЦА · Курсы в Бишкеке')}}" />
    <meta property="og:title" content="{{_('Мейкерспейс АУЦА · Курсы в Бишкеке')}}" />
    <meta property="twitter:title" content="{{_('Мейкерспейс АУЦА · Курсы в Бишкеке')}}" />
    <title>{{_('Мейкерспейс АУЦА · Курсы в Бишкеке')}}</title>

    <meta
        name="description"
        content="{{_('Мейкерспейс – уникальное образовательное, творческое и предпринимательское пространство, в котором можно будет не только получать новые знания и навыки, развиваться, но и реализовывать проекты, работать на высокотехнологичном оборудовании. Лучшие курсы в Бишкек по всем направлениям!')}}"
    />
    <meta
        property="og:description"
        content="{{_('Мейкерспейс – уникальное образовательное, творческое и предпринимательское пространство, в котором можно будет не только получать новые знания и навыки, развиваться, но и реализовывать проекты, работать на высокотехнологичном оборудовании. Лучшие курсы в Бишкек по всем направлениям!')}}"
    />
    <meta
        property="twitter:description"
        content="{{_('Мейкерспейс – уникальное образовательное, творческое и предпринимательское пространство, в котором можно будет не только получать новые знания и навыки, развиваться, но и реализовывать проекты, работать на высокотехнологичном оборудовании. Лучшие курсы в Бишкек по всем направлениям!')}}"
    />

    <meta property="og:image" content="Meta Preview" />
    <meta property="twitter:image" content="Meta Preview" />

    <meta property="og:url" content="https://mldc.auca.kg" />
    <meta property="twitter:url" content="https://mldc.auca.kg" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{_('Мейкерспейс АУЦА')}}" />
    <meta property="twitter:card" content="summary_large_image" />

    <meta name="robots" content="index" />

    <link rel="apple-touch-icon" sizes="180x180" href="/static/elements/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/elements/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/elements/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/static/elements/favicon/site.webmanifest" />
    <link rel="mask-icon" href="/static/elements/favicon/safari-pinned-tab.svg" color="#1e85bf" />
    <link rel="shortcut icon" href="/static/elements/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="msapplication-config" content="/static/elements/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    <meta name="google-site-verification" content="s4LZc23NCulcGaaVMmVtC0O8F0xHLY_NcK9fZ0P4h1I" />

    <link rel="stylesheet" href="/static/css/main.css" />

    <script src="/static/scripts/menu.js" defer></script>
    <script src="/static/scripts/calendar.js" defer></script>
</head>
<!-- prettier-ignore -->
{% endblock %} 
{% block content %}
<main
    class="relative mt-24 flex w-full flex-col items-center justify-center overflow-x-hidden leading-normal tracking-tight"
>
    <section id="toelf_banner" class="flex h-14 w-full items-center justify-center gap-3 bg-[#08559a] px-6">
        <span class="fade-in text-xl font-bold text-white" style="animation-delay: 1.8s"
            >{{_('Результаты TOEFL')}}</span
        >
        <a
            class="fade-in rounded-full bg-white px-2 py-1 text-sm transition-colors ease-in-out hover:bg-gray-100"
            href="/toefl"
            style="animation-delay: 1.8s"
            >{{_('Смотреть')}}</a
        >
    </section>
    <span
        class="hidden bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero/hero-1.jpg')]"
    ></span>
    <span
        class="hidden bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero/hero-2.jpg')]"
    ></span>
    <span
        class="hidden bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero/hero-3.jpg')]"
    ></span>
    <span
        class="hidden bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero/hero-4.jpg')]"
    ></span>
    <span
        class="hidden bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero/hero-5.jpg')]"
    ></span>
    <span
        class="hidden bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero/hero-6.jpg')]"
    ></span>
    <span
        class="hidden bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero/hero-7.jpg')]"
    ></span>
    <span
        class="hidden bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero/hero-8.jpg')]"
    ></span>
    <span
        class="hidden bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero/hero-9.jpg')]"
    ></span>
    <span
        class="hidden bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero/hero-10.jpg')]"
    ></span>
    <span
        class="hidden bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero/hero-11.jpg')]"
    ></span>
    <span
        class="hidden bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero/hero-12.jpg')]"
    ></span>
    <span
        class="hidden bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero/hero-13.jpg')]"
    ></span>
    <span
        class="hidden bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero/hero-14.jpg')]"
    ></span>
    <span
        class="hidden bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero/hero-15.jpg')]"
    ></span>
    <span
        class="hidden bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero/hero-16.jpg')]"
    ></span>
    <section
        class="flex w-full justify-center bg-cover bg-right px-6 sm:py-28 py-20 bg-[linear-gradient(to_right,rgba(0,0,0,0.5),rgba(0,0,0,0)),url('/static/elements/hero/{{ random_hero }}')] "
        id="hero"
    >
        <div class="flex w-full max-w-5xl flex-col gap-2 sm:mb-16">
            <h1 class="w-full text-4xl font-medium text-white sm:text-6xl overflow-visible">
                <span class="fade-in">Be Maker</span>
                <br />
                <span class="fade-in" style="animation-delay: 0.7s">Make Life Better</span>
            </h1>
            <span class="fade-in flex gap-2 text-white" style="animation-delay: 1.5s">
                <a
                    href="{{ url_for('main.set_lang', lang='en') }}"
                    class="flex items-center justify-center gap-1 underline"
                >
                    <img class="h-4" src="/static/elements/usa.png" alt="USA" />EN
                </a>
                <a
                    href="{{ url_for('main.set_lang', lang='ru') }}"
                    class="flex items-center justify-center gap-1 underline"
                >
                    <img class="h-4" src="/static/elements/russia.png" alt="USA" /> RU
                </a>
            </span>
        </div>
    </section>
    <section class="mt-16 flex max-w-7xl flex-col items-center justify-center px-6">
        <h2 class="move-up text-center text-4xl font-medium sm:text-5xl" style="animation-delay: 1s">
            {{_('Что такое Мейкерспейс АУЦА?')}}
        </h2>
        <div
            class="move-up mt-14 grid grid-cols-2 gap-x-10 gap-y-10 sm:gap-x-20 lg:grid-cols-4"
            style="animation-delay: 1.2s"
        >
            <div>
                <h3 class="text-4xl">{{_('18 лет')}}</h3>
                <span>{{_('На рынке образования ')}}</span>
            </div>
            <div>
                <h3 class="text-4xl">50 000+</h3>
                <span>{{_('Довольных учеников')}}</span>
            </div>
            <div>
                <h3 class="text-4xl">65</h3>
                <span>{{_('Опытных преподавателей')}}</span>
            </div>
            <div>
                <h3 class="text-4xl">97%</h3>
                <span>{{_('Довольных клиентов')}}</span>
            </div>
        </div>
    </section>
    <section class="mt-28 flex w-full max-w-7xl flex-col items-center justify-center gap-2 px-6 pb-3">
        <h2 class="move-up mb-5 w-full text-4xl font-medium sm:text-5xl" style="animation-delay: 1.5s">
            {{_('Курсы')}}
        </h2>
        <div class="move-up grid w-full grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3" style="animation-delay: 2s">
            {% for course_group in course_groups %}
            <div class="flex flex-col items-center gap-3 rounded-3xl border">
                <a class="rounded-t-3xl overflow-hidden" href="/courses?course_group={{ course_group.slug }}">
                    <img
                        class="min-h-1/2 aspect-video w-full object-cover hover:scale-[1.03] transition-transform ease-in-out duration-500"
                        loading="lazy"
                        src="{{ course_group.picture_url }}"
                    />
                </a>
                <div class="flex flex-col items-center gap-3 text-pretty p-5 text-center">
                    <span class="text-2xl font-bold">{{ course_group.name }}</span>
                    <p class="text-gray-500">{{ course_group.description.replace('\n', '<br />') | safe }}</p>
                </div>
                <a
                    class="mb-6 mt-auto w-1/3 rounded-md bg-sky-500 py-2 text-center text-sm text-white transition-colors ease-in-out hover:bg-sky-400"
                    href="/courses?course_group={{ course_group.slug }}"
                    >{{_('Подробнее')}}</a
                >
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="mt-20 flex w-full max-w-7xl flex-col items-center justify-center gap-5 px-6 pb-3">
        <h2 class="w-full text-4xl font-medium sm:text-5xl">{{_('Клубы')}}</h2>
        <div class="flex w-full flex-col overflow-hidden rounded-xl border shadow-sm sm:flex-row">
            <div class="sm:max-w-[40%] overflow-hidden">
                <img
                    class="aspect-video object-cover hover:scale-[1.03] transition-transform ease-in-out duration-500"
                    loading="lazy"
                    src="/static/elements/chess.jpg"
                />
            </div>
            <div class="flex w-full flex-wrap">
                <div class="flex h-full w-full flex-col p-4">
                    <h3 class="flex items-center text-2xl font-bold text-gray-800 sm:text-3xl">
                        {{_('Шахматы')}}
                        <span class="ml-2 rounded-full bg-sky-100 px-3 py-px text-sm text-sky-500"
                            >{{_('Бесплатно')}}</span
                        >
                    </h3>
                    <article class="mb-10 mt-1 text-gray-500">
                        {{_('Шахматы - игра, которая точно прошла тест на время. Подходит как и взрослым, так и
                        детям.')}}
                    </article>
                    <button
                        class="ml-auto mt-auto rounded-lg bg-sky-500 px-3 py-2 text-sm text-white transition-colors ease-in-out hover:bg-sky-400 sm:text-base"
                        onclick="openModal('Клуб Шахмат')"
                    >
                        {{_('Зарегистрироваться')}}
                    </button>
                </div>
            </div>
        </div>
        <div class="flex w-full flex-col overflow-hidden rounded-xl border shadow-sm sm:flex-row">
            <div class="flex w-full flex-wrap">
                <div class="flex h-full w-full flex-col p-4">
                    <h3 class="flex items-center text-2xl font-bold text-gray-800 sm:text-3xl">
                        {{_('Repair Cafe')}}
                        <span class="ml-2 rounded-full bg-sky-100 px-3 py-px text-sm text-sky-500"
                            >{{_('Бесплатно')}}</span
                        >
                    </h3>
                    <article class="mb-10 mt-1 text-gray-500">
                        {{_('Repair Cafe - Нидерландская инициатива по организации мероприятий, на которых участники
                        учатся чинить вещи. Это помогает сократить количество мусора и продлить срок службы вещей.')}}
                    </article>
                    <button
                        class="ml-auto mt-auto rounded-lg bg-sky-500 px-3 py-2 text-sm text-white transition-colors ease-in-out hover:bg-sky-400 sm:text-base"
                        onclick="openModal('Клуб Repair Cafe')"
                    >
                        {{_('Зарегистрироваться')}}
                    </button>
                </div>
            </div>
            <div class="sm:max-w-[40%] overflow-hidden">
                <img
                    class="aspect-video object-cover hover:scale-[1.03] transition-transform ease-in-out duration-500"
                    loading="lazy"
                    src="/static/elements/repair_cafe.jpeg"
                />
            </div>
        </div>
    </section>
    <section class="mt-20 flex w-full max-w-7xl flex-col items-center justify-center gap-2 px-6 pb-3">
        <h2 class="mb-5 w-full text-4xl font-medium sm:text-5xl">{{_('Календарь')}}</h2>
        <div class="flex w-full flex-wrap-reverse justify-center lg:justify-between">
            <!-- Events -->
            <div class="flex w-[430px] flex-col gap-7 lg:w-1/2">
                <h3 class="text-lg font-semibold text-gray-700">{{_('Предстоящие события')}}</h3>
                <ul id="events" class="flex flex-col gap-3">
                    <div class="hidden border-emerald-300 bg-emerald-300"></div>
                    <div class="hidden border-indigo-300 bg-indigo-300"></div>
                    <div class="hidden border-fuchsia-300 bg-fuchsia-300"></div>
                    <div class="hidden border-rose-300 bg-rose-300"></div>
                    <div class="hidden border-amber-300 bg-amber-300"></div>
                </ul>
            </div>
            <!-- End Events -->

            <!-- Calendar -->
            <div class="mb-4 space-y-1">
                <!-- Months -->
                <div class="mx-1.5 grid grid-cols-5 items-center gap-x-3 pb-3">
                    <!-- Prev Button -->
                    <div class="col-span-1">
                        <button
                            type="button"
                            class="flex h-8 w-8 items-center justify-center rounded-full text-gray-800 hover:bg-gray-100"
                            onclick="prevMonth()"
                        >
                            <svg
                                class="h-4 w-4 flex-shrink-0"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path d="m15 18-6-6 6-6" />
                            </svg>
                        </button>
                    </div>
                    <!-- End Prev Button -->

                    <!-- Month -->
                    <div
                        id="month-name"
                        class="col-span-3 flex items-center justify-center gap-x-1 text-base sm:text-2xl"
                    ></div>
                    <!-- End Month -->

                    <!-- Next Button -->
                    <div class="col-span-1 flex justify-end">
                        <button
                            type="button"
                            class="flex h-8 w-8 items-center justify-center rounded-full text-gray-800 hover:bg-gray-100"
                            onclick="nextMonth()"
                        >
                            <svg
                                class="h-4 w-4 flex-shrink-0"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path d="m9 18 6-6-6-6" />
                            </svg>
                        </button>
                    </div>
                    <!-- End Next Button -->
                </div>
                <!-- Months -->

                <!-- Weeks -->
                <div class="flex pb-1.5">
                    {% for weekday in ("Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс") %}
                    <span class="m-px block w-10 text-center text-sm text-gray-500 sm:m-3 sm:text-xl">
                        {{ weekday }}
                    </span>
                    {% endfor %}
                </div>
                <!-- Weeks -->

                <!-- Days -->
                <div id="month-matrix"></div>
                <!-- Days -->
            </div>
            <!-- End Calendar -->
        </div>
    </section>
    <section class="mt-20 w-full">
        <div
            class="relative mx-auto flex w-full max-w-7xl flex-col gap-10 overflow-hidden rounded-3xl bg-[#1f3058] bg-cover px-6 py-12 shadow-lg"
        >
            <div class="mx-auto flex max-w-7xl flex-col items-center justify-center gap-5 text-white sm:mb-10">
                <span class="text-5xl font-semibold leading-tight">
                    {{_('Вступайте в сообщество')}}
                    <span class="bg-gradient-to-r from-sky-500 to-blue-500 bg-clip-text text-transparent">
                        Makerspace
                    </span>
                </span>
            </div>
            <div
                class="mx-auto grid w-full max-w-5xl grid-cols-1 gap-10 overflow-x-auto pb-3 text-white sm:grid-cols-3"
            >
                <div class="flex flex-col">
                    <h3 class="text-base font-semibold">Standard</h3>
                    <span class="mt-4 text-5xl font-bold tracking-tight">$30</span>
                    <ul role="list" class="mt-6 space-y-3 leading-6 sm:mt-10">
                        <li class="flex gap-x-3">
                            <svg
                                class="h-6 w-5 flex-none"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                                data-slot="icon"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            {{_('Доступ ко всем сервисам')}}
                        </li>
                        <li class="flex gap-x-3">
                            <svg
                                class="h-6 w-5 flex-none"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                                data-slot="icon"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            {{_('1 бесплатный мастеркласс в год')}}
                        </li>
                        <li class="flex gap-x-3">
                            <svg
                                class="h-6 w-5 flex-none"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                                data-slot="icon"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            15% {{_('скидка на языковые курсы')}}
                        </li>
                    </ul>
                </div>
                <div class="flex flex-col">
                    <h3 class="text-base font-semibold text-[#b2b5b6]">Silver</h3>
                    <span class="mt-4 text-5xl font-bold tracking-tight">$50</span>
                    <ul role="list" class="mt-6 space-y-3 leading-6 sm:mt-10">
                        <li class="flex gap-x-3">
                            <svg
                                class="h-6 w-5 flex-none"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                                data-slot="icon"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            {{_('Доступ ко всем сервисам')}}
                        </li>
                        <li class="flex gap-x-3">
                            <svg
                                class="h-6 w-5 flex-none"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                                data-slot="icon"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            {{_('2 бесплатных мастеркласса в год')}}
                        </li>
                        <li class="flex gap-x-3">
                            <svg
                                class="h-6 w-5 flex-none"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                                data-slot="icon"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            15% {{_('скидка на языковые курсы')}}
                        </li>
                        <li class="flex gap-x-3">
                            <svg
                                class="h-6 w-5 flex-none"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                                data-slot="icon"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            20% {{_('скидка на инженерные мастерклассы')}}
                        </li>
                    </ul>
                </div>
                <div class="flex flex-col">
                    <h3 class="text-base font-semibold text-[#FFD700]">Gold</h3>
                    <span class="mt-4 text-5xl font-bold tracking-tight">$70</span>
                    <ul role="list" class="mt-6 space-y-3 leading-6 sm:mt-10">
                        <li class="flex gap-x-3">
                            <svg
                                class="h-6 w-5 flex-none"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                                data-slot="icon"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            {{_('Доступ ко всем сервисам')}}
                        </li>
                        <li class="flex gap-x-3">
                            <svg
                                class="h-6 w-5 flex-none"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                                data-slot="icon"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            {{_('4 бесплатных мастеркласса в год')}}
                        </li>
                        <li class="flex gap-x-3">
                            <svg
                                class="h-6 w-5 flex-none"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                                data-slot="icon"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            20% {{_('скидка на языковые курсы')}}
                        </li>
                        <li class="flex gap-x-3">
                            <svg
                                class="h-6 w-5 flex-none"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                                data-slot="icon"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            20% {{_('скидка на инженерные мастерклассы')}}
                        </li>
                        <li class="flex gap-x-3">
                            <svg
                                class="h-6 w-5 flex-none"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                                data-slot="icon"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            15% {{_('скидка на IT курсы')}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-20 flex w-full max-w-7xl flex-col items-center justify-center gap-2 px-6 pb-3">
        <h2 class="mb-5 w-full text-4xl font-medium sm:text-5xl">{{_('Отзывы')}}</h2>
        <div class="grid w-full grid-cols-1 gap-3 sm:grid-cols-2 lg:grid-cols-3">
            {% for feedback in feedbacks %}
            <article class="flex flex-col rounded-3xl border p-5">
                <div class="flex gap-3">
                    {% if feedback.picture_url %}
                    <img
                        class="flex aspect-square h-12 items-center justify-center rounded-full bg-gray-300 object-cover"
                        loading="lazy"
                        src="{{ feedback.picture_url }}"
                        alt=""
                    />
                    {% else %}
                    <div class="flex aspect-square h-12 items-center justify-center rounded-full bg-gray-300">
                        <svg width="24" height="32" viewBox="0 0 24 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M12 8C7.58172 8 4 11.5817 4 16C4 17.6797 4.51765 19.2385 5.40212 20.5255C7.39411 19.5484 9.6342 19 12 19C14.3658 19 16.6059 19.5484 18.5979 20.5255C19.4823 19.2384 20 17.6797 20 16C20 11.5817 16.4183 8 12 8ZM19.6542 22.4356C21.1181 20.6964 22 18.4512 22 16C22 10.4772 17.5228 6 12 6C6.47715 6 2 10.4772 2 16C2 18.4512 2.88193 20.6964 4.34577 22.4356C4.35369 22.4454 4.36176 22.4549 4.36998 22.4643C6.20429 24.6272 8.94183 26 12 26C15.0582 26 17.7957 24.6272 19.63 22.4643C19.6382 22.4549 19.6463 22.4454 19.6542 22.4356ZM17.1986 22.0808C15.6074 21.3858 13.8497 21 12 21C10.1503 21 8.39259 21.3858 6.80137 22.0808C8.1996 23.2774 10.0154 24 12 24C13.9846 24 15.8004 23.2774 17.1986 22.0808ZM12 12C10.8954 12 10 12.8954 10 14C10 15.1046 10.8954 16 12 16C13.1046 16 14 15.1046 14 14C14 12.8954 13.1046 12 12 12ZM8 14C8 11.7909 9.79086 10 12 10C14.2091 10 16 11.7909 16 14C16 16.2091 14.2091 18 12 18C9.79086 18 8 16.2091 8 14Z"
                                fill="#252525"
                            />
                        </svg>
                    </div>
                    {% endif %}
                    <div class="flex flex-col">
                        <span class="text-xl font-medium">{{ feedback.name }}</span>
                        <span class="text-gray-400">{{ feedback.created_at }}</span>
                    </div>
                </div>
                <p class="my-2 text-gray-600">{{ feedback.message.replace('\n', '<br />') | safe }}</p>
                {% if feedback.course %}
                <div class="mt-auto w-fit text-nowrap rounded-full bg-gray-200 px-5 py-1 text-sm text-gray-700">
                    {{ feedback.course }}
                </div>
                {% endif %}
            </article>
            {% endfor %}
        </div>
    </section>
    <section class="mt-20 flex w-full max-w-7xl flex-col items-center justify-center gap-2 px-6 pb-3">
        <h2 class="mb-5 w-full text-4xl font-medium sm:text-5xl">{{_('Частые вопросы')}}</h2>

        <div class="grid w-full gap-6 sm:grid-cols-3 md:gap-12">
            <div>
                <h3 class="text-lg font-semibold text-gray-800">
                    {{_('Как я могу узнать, какой курс мне подходит?')}}
                </h3>
                <p class="mt-2 text-gray-600">
                    {{_('Вы можете ознакомиться с описанием каждого курса на нашем сайте. Также вы можете связаться с
                    нами по телефону или электронной почте, и наши консультанты помогут вам выбрать курс, который
                    соответствует вашим целям и уровню подготовки.')}}
                </p>
            </div>
            <!-- End Col -->

            <div>
                <h3 class="text-lg font-semibold text-gray-800">{{_('Как я могу записаться на курс?')}}</h3>
                <p class="mt-2 text-gray-600">
                    {{_('Вы можете записаться на курс на нашем сайте, заполнив форму заявки. Также вы можете связаться с
                    нами по телефону или прийти к нам в офис.')}}
                </p>
            </div>
            <!-- End Col -->

            <div>
                <h3 class="text-lg font-semibold text-gray-800">
                    {{_('Как я могу записаться на пробное тестирование TOEFL?')}}
                </h3>
                <p class="mt-2 text-gray-600">{{_('Вы можете записаться')}}</p>
            </div>
            <!-- End Col -->

            <div>
                <h3 class="text-lg font-semibold text-gray-800">
                    {{_('Я сдал пробное тестирование, где я могу узнать свой результат?')}}
                </h3>
                <p class="mt-2 text-gray-600">
                    {{_('Также Результаты пробного тестирования можете найти')}}
                    <a class="underline" href="/toefl">{{_('здесь')}}</a>.
                </p>
            </div>
            <!-- End Col -->

            <div>
                <h3 class="text-lg font-semibold text-gray-800">{{_('Нужен ли мне компьютер для обучения?')}}</h3>
                <p class="mt-2 text-gray-600">
                    {{_('Мы предоставляем всю нужную информацию и материалы для обучения. Вам не нужен компьютер, но он
                    может быть полезен для самостоятельного изучения материала.')}}
                </p>
            </div>
            <!-- End Col -->

            <div>
                <h3 class="text-lg font-semibold text-gray-800">{{_('Есть ли у вас индивидуальный занятия?')}}</h3>
                <p class="mt-2 text-gray-600">{{_('Да, есть!')}}</p>
            </div>
            <!-- End Col -->
        </div>
    </section>

    <section class="mx-auto mt-10 w-full max-w-7xl px-6">
        <h2 class="w-full text-4xl font-medium sm:text-5xl">{{_('Блог')}}</h2>
        <div class="mt-10 grid w-full grid-cols-1 gap-8 lg:grid-cols-2">
            {% for blog in blogs %}
            <article class="flex max-w-xl flex-col items-start">
                <a href="/blogs/{{ blog.slug }}">
                    <img
                        class="mb-5 aspect-[3/2] w-full rounded-lg object-cover"
                        loading="lazy"
                        src="{{ blog.preview_url }}"
                        alt=""
                    />
                </a>
                <div class="flex flex-col items-start justify-start">
                    <div class="flex items-center gap-x-4">
                        <time class="text-slate-500">{{ blog.published.strftime("%d %B, %Y") }}</time>
                    </div>
                    <div class="relative">
                        <h3 class="mt-3 text-lg font-semibold leading-6 text-slate-900 hover:text-slate-700">
                            <a href="/blogs/{{ blog.slug }}">
                                <span class="absolute inset-0"></span>
                                {{ blog.title }}
                            </a>
                        </h3>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
        <div class="w-full flex mt-10">
            <a
                href="/blogs"
                class="mx-auto bg-sky-500 transition-colors hover:bg-sky-400 tracking-wide rounded-lg py-2 px-3 text-white font-bold text-lg"
                >{{ _('Читать другие') }}</a
            >
        </div>
    </section>

    <section
        id="registration-form"
        class="mt-20 flex w-full flex-col items-center justify-center rounded-t-3xl bg-gray-50 px-6 py-16"
    >
        <div class="flex w-full max-w-5xl flex-col gap-10 rounded-2xl bg-[#1fbbff] p-10">
            <h2 class="text-4xl font-medium text-white sm:w-1/2">
                {{_('Самое сложное - это начать. Оставьте заявку и мы поможем вам со всем!')}}
            </h2>
            <div class="flex flex-col gap-10 sm:flex-row">
                <form class="flex w-full flex-col gap-3 sm:w-1/2" action="/register" method="POST">
                    <input
                        class="rounded-xl border-0 py-3 text-lg"
                        name="name"
                        id="name"
                        type="text"
                        autocomplete="name"
                        placeholder="{{_('Асан Асанов')}}"
                        required
                    />
                    <input
                        class="rounded-xl border-0 py-3 text-lg"
                        name="phone"
                        id="phone"
                        type="tel"
                        autocomplete="tel"
                        placeholder="+996 996 99 69 96"
                        required
                    />
                    <input
                        class="rounded-xl border-0 py-3 text-lg"
                        name="age"
                        id="age"
                        type="number"
                        placeholder="{{_('16 лет')}}"
                        required
                    />
                    <input
                        class="rounded-xl border-0 py-3 text-lg"
                        name="course_info"
                        id="course_info"
                        type="text"
                        placeholder="{{_('Английский Pre-Intermediate')}}"
                        required
                    />
                    <button class="rounded-xl bg-[#fad800] py-3 text-lg font-medium hover:bg-[#ffe22e]" type="submit">
                        {{_('Оставить заявку')}}
                    </button>
                </form>
                <div class="flex w-full flex-col gap-3 text-white sm:w-1/2">
                    <h3 class="text-3xl font-medium">{{_('Что дальше?')}}</h3>
                    <p class="text-2xl">
                        {{_('Ждите от нас звонка! Наш менеджер свяжется с Вами и проконсультирует.')}}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="modal" class="pointer-events-none opacity-0 transition-opacity ease-in-out">
        <div class="fixed inset-0 h-full w-full bg-black/50"></div>
        <div class="fixed right-0 top-1/2 w-full -translate-y-1/2">
            <div
                class="relative mx-4 max-w-lg overflow-hidden rounded-xl bg-white text-left shadow-xl transition-all sm:mx-auto"
            >
                <div class="flex justify-between border-b bg-gray-50 px-4 py-3 sm:px-6">
                    <h2 class="text-lg font-medium">{{_('Запись на клуб')}}</h2>
                    <button onclick="closeModal()">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-5"
                        >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <form
                    action="/register-course"
                    method="POST"
                    class="grid grid-cols-4 gap-x-2 gap-y-5 bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4"
                >
                    <div class="col-span-2 flex flex-col gap-1">
                        <label for="name">{{_('Имя')}}</label>
                        <input
                            class="rounded-lg"
                            type="text"
                            name="name"
                            id="name"
                            autocomplete="name"
                            placeholder="Асан"
                            required=""
                        />
                    </div>

                    <div class="col-span-2 flex flex-col gap-1">
                        <label for="age">{{_('Возраст')}}</label>
                        <input class="rounded-lg" type="number" name="age" id="age" placeholder="16" required="" />
                    </div>

                    <div class="col-span-4 flex flex-col gap-1">
                        <label for="phone">{{_('Номер телефона')}}</label>
                        <input
                            class="rounded-lg"
                            type="tel"
                            name="phone"
                            id="phone"
                            autocomplete="tel"
                            placeholder="+996 999 99 99 99"
                            required=""
                        />
                    </div>

                    <div class="col-span-4 flex flex-col gap-1">
                        <label for="group">{{_('Клуб')}}</label>
                        <input
                            class="rounded-lg"
                            type="text"
                            name="course_info"
                            id="course_info_modal"
                            placeholder="{{_('Английский Pre-Intermediate')}}"
                            required=""
                        />
                    </div>

                    <button
                        class="col-span-4 mt-6 w-full rounded-lg bg-sky-500 py-2 text-white transition-colors ease-in-out hover:bg-sky-400"
                        type="submit"
                    >
                        {{_('Зарегистрироваться')}}
                    </button>
                </form>
            </div>
        </div>
    </section>

    <section id="toast">
        {% if success == True %}
        <div
            class="fixed bottom-5 right-1/2 mx-4 flex w-[calc(100%-32px)] max-w-3xl translate-x-[calc(50%+16px)] items-center gap-3 rounded-lg border bg-white p-5 shadow-xl"
        >
            <div class="flex size-12 flex-shrink-0 items-center justify-center rounded-full bg-green-100">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-6 w-6 text-green-500"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                    />
                </svg>
            </div>
            <div>
                <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">
                    {{_('Успешная регистрация')}}
                </h3>
                <p class="text-sm text-gray-500">
                    {{_('Если у вас есть вопросы, позвоните по номеру +996 312 915 022')}}
                </p>
            </div>
        </div>
        {% elif success == False %}
        <div
            class="fixed bottom-5 right-1/2 mx-4 flex w-[calc(100%-32px)] max-w-3xl translate-x-[calc(50%+16px)] items-center gap-3 rounded-lg border bg-white p-5 shadow-xl"
        >
            <div class="flex size-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-6 w-6 text-red-500"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"
                    />
                </svg>
            </div>
            <div>
                <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">
                    {{_('Произошла ошибка')}}
                </h3>
                <p class="text-sm text-gray-500">
                    {{_('Если у вас есть вопросы, позвоните по номеру +996 312 915 022')}}
                </p>
            </div>
        </div>
        {% endif %}
    </section>
</main>
<script>
    function closeModal() {
        document.getElementById("modal").classList.add("opacity-0", "pointer-events-none");
    }
    function openModal(course_info) {
        document.getElementById("modal").classList.remove("opacity-0", "pointer-events-none");
        document.getElementById("course_info_modal").value = course_info;
    }
</script>
{% endblock %}
