<!-- prettier-ignore -->
{% extends "/layout.html" %} 
{% block head %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="title" content="{{_('Учителя')}} · MLDC" />
    <meta property="og:title" content="{{_('Учителя')}} · MLDC" />
    <meta property="twitter:title" content="{{_('Учителя')}} · MLDC" />
    <title>{{_('Учителя')}} · MLDC</title>

    <meta
        name="description"
        content="{{_('Мейкерспейс – уникальное образовательное, творческое и предпринимательское пространство, в котором можно будет не только получать новые знания и навыки, развиваться, но и реализовывать проекты, работать на высокотехнологичном оборудовании.')}}"
    />
    <meta
        property="og:description"
        content="{{_('Мейкерспейс – уникальное образовательное, творческое и предпринимательское пространство, в котором можно будет не только получать новые знания и навыки, развиваться, но и реализовывать проекты, работать на высокотехнологичном оборудовании.')}}"
    />
    <meta
        property="twitter:description"
        content="{{_('Мейкерспейс – уникальное образовательное, творческое и предпринимательское пространство, в котором можно будет не только получать новые знания и навыки, развиваться, но и реализовывать проекты, работать на высокотехнологичном оборудовании.')}}"
    />

    <meta property="og:image" content="Meta Preview" />
    <meta property="twitter:image" content="Meta Preview" />

    <meta property="og:url" content="https://mldc.auca.kg/teachers" />
    <meta property="twitter:url" content="https://mldc.auca.kg/teachers" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{_('Мейкерспейс АУЦА')}}" />
    <meta property="twitter:card" content="summary_large_image" />

    <meta name="robots" content="index" />

    <link rel="apple-touch-icon" sizes="180x180" href="/static/elements/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/elements/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/elements/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/static/elements/favicon/site.webmanifest" />
    <link rel="mask-icon" href="/static/elements/favicon/safari-pinned-tab.svg" color="#1e85bf" />
    <link rel="shortcut icon" href="/static/elements/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="msapplication-config" content="/static/elements/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="/static/css/main.css" />

    <script src="/static/scripts/menu.js" defer></script>
</head>
<!-- prettier-ignore -->
{% endblock %} 
{% block content %}
<main
    class="relative mt-24 flex w-full flex-col items-center justify-center overflow-x-hidden bg-gray-50 leading-normal tracking-tight"
>
    <section class="mt-10 flex w-full max-w-7xl flex-col items-center justify-center px-6 sm:mt-20">
        <article class="text-start">
            <h2 class="mb-5 w-full text-4xl font-medium sm:text-5xl">{{_('О преподавателях')}}</h2>
            <p class="text-lg sm:w-1/2 sm:text-2xl">
                {{_('Наши преподаватели - это люди, которые имеют большой опыт в преподавании английского языка, а также
                подготовке к экзаменам TOEFL и IELTS. Они помогут вам достичь ваших целей и дадут много полезных советов
                по изучению английского языка.')}}
            </p>
        </article>
        <img
            class="mt-5 h-40 w-full rounded-xl object-cover object-center sm:mt-10 sm:h-96"
            loading="lazy"
            src="/static/elements/teachers-hero.jpg"
            alt=""
        />
    </section>
    <section
        class="mt-10 grid w-full max-w-7xl grid-cols-1 items-start justify-center gap-10 px-6 sm:mt-20 lg:grid-cols-2"
    >
        {% for teacher in teachers %}
        <article>
            <img
                class="float-left mb-px mr-4 aspect-[3/4] max-h-44 rounded-xl bg-gray-200 object-cover sm:max-h-80"
                loading="lazy"
                src="{{ teacher.picture_url }}"
                alt=""
            />
            <h3 class="w-full text-2xl font-semibold sm:text-3xl">{{ teacher.name }}</h3>
            <p class="mt-2 w-full text-justify sm:text-lg">{{ teacher.bio.replace('\n', '<br />') | safe }}</p>
        </article>
        {% endfor %}
    </section>
</main>

{% endblock %}
