<!-- prettier-ignore -->
{% extends "/layout.html" %} 
{% block head %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="title" content="TOEFL · MLDC" />
    <meta property="og:title" content="TOEFL · MLDC" />
    <meta property="twitter:title" content="TOEFL · MLDC" />
    <title>TOEFL · MLDC</title>

    <meta name="description" content="{{_('Вы можете найти результаты пробного TOEFL тут')}}" />
    <meta property="og:description" content="{{_('Вы можете найти результаты пробного TOEFL тут')}}" />
    <meta property="twitter:description" content="{{_('Вы можете найти результаты пробного TOEFL тут')}}" />

    <meta property="og:image" content="Meta Preview" />
    <meta property="twitter:image" content="Meta Preview" />

    <meta property="og:url" content="https://mldc.auca.kg/toefl/register" />
    <meta property="twitter:url" content="https://mldc.auca.kg/toefl/register" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{_('Мейкерспейс АУЦА')}}" />
    <meta property="twitter:card" content="summary_large_image" />

    <meta name="robots" content="index" />

    <link rel="apple-touch-icon" sizes="180x180" href="/static/elements/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/elements/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/elements/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/static/elements/favicon/site.webmanifest" />
    <link rel="mask-icon" href="/static/elements/favicon/safari-pinned-tab.svg" color="#1e85bf" />
    <link rel="shortcut icon" href="/static/elements/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="msapplication-config" content="/static/elements/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="/static/css/main.css" />

    <script src="/static/scripts/menu.js" defer></script>
</head>
<!-- prettier-ignore -->
{% endblock %} 
{% block content %}
<div class="mt-24 flex w-full flex-col items-center justify-center bg-gray-50">
    <header class="flex w-full items-center justify-center bg-[#08559a]">
        <div class="flex w-full max-w-7xl items-center justify-between px-9 py-4">
            <div class="flex items-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="size-6 text-white sm:size-8"
                >
                    <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
                    <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
                </svg>
                <div class="ml-2 sm:ml-3">
                    <h1 class="text-xl font-semibold text-white sm:text-2xl">{{_('Результаты TOEFL')}}</h1>
                    <p class="text-sm text-white sm:text-base">{{ date }}</p>
                </div>
            </div>
            <div class="flex items-center justify-center gap-3">
                {% if pagination[0] %}
                <a
                    href="/toefl?date={{ pagination[0] }}"
                    class="rounded-md bg-black px-4 py-2 text-xs font-medium text-white hover:underline sm:text-base"
                >
                    {{_('Предыдущая')}}
                </a>
                {% else %}
                <a
                    href="/toefl?date={{ pagination[0] }}"
                    class="cursor-not-allowed rounded-md bg-black px-4 py-2 text-xs font-medium text-white opacity-50 hover:underline sm:text-base"
                    aria-disabled="true"
                    onclick="return false;"
                >
                    {{_('Предыдущая')}}
                </a>
                {% endif %} {% if pagination[1] %}
                <a
                    href="/toefl?date={{ pagination[1] }}"
                    class="rounded-md bg-black px-4 py-2 text-xs font-medium text-white hover:underline sm:text-base"
                >
                    {{_('Следующая')}}
                </a>
                {% else %}
                <a
                    href="/toefl?date={{ pagination[1] }}"
                    class="cursor-not-allowed rounded-md bg-black px-4 py-2 text-xs font-medium text-white opacity-50 hover:underline sm:text-base"
                    aria-disabled="true"
                    onclick="return false;"
                >
                    {{_('Следующая')}}
                </a>
                {% endif %}
            </div>
        </div>
    </header>
    <main class="flex w-full max-w-7xl flex-1 flex-col overflow-auto px-9 py-6">
        <h2 class="mb-4 text-lg font-bold text-[#08559a] sm:text-xl">Test Takers' Scores</h2>
        <div class="relative w-full overflow-auto">
            <table class="w-full caption-bottom overflow-hidden rounded-lg bg-white text-sm shadow-lg">
                <thead class="bg-[#08559a] text-white">
                    <tr class="h-12 border-b *:px-4 *:text-left">
                        <th>ID</th>
                        <th>Listening</th>
                        <th>Grammar</th>
                        <th>Reading</th>
                        <th>Total Score</th>
                        <th>AUCA Score</th>
                    </tr>
                </thead>
                <tbody class="">
                    {% for result in results %} {% if result.is_published %}
                    <tr class="border-b *:p-4 odd:bg-slate-50">
                        <td class="font-medium">{{ result.test_taker_id }}</td>
                        <td>{{ result.listening }}</td>
                        <td>{{ result.grammar }}</td>
                        <td>{{ result.reading }}</td>
                        <td class="font-bold text-[#08559a]">{{ result.total }}</td>
                        <td class="font-bold text-[#08559a]">{{ result.auca_total }}</td>
                    </tr>
                    {% endif %} {% endfor %}
                </tbody>
            </table>
        </div>
        <h2 class="mt-20 w-full text-center text-5xl font-bold">{{_('Хотите сдать тест?')}}</h2>
        <a
            href="/toefl/register"
            class="mx-auto mt-5 w-fit rounded-md bg-[#08559a] px-4 py-2 text-white transition-all ease-in-out hover:scale-105"
            >{{_('Регистрация тут')}}</a
        >
    </main>
</div>

{% endblock %}
