{% extends "admin/layout.html" %} {% block additional_scripts %}
<script src="/static/scripts/idempotency.js" defer></script>
{% endblock %} {% block title %}Добавить Сотрудника{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block
content %}
<main
    class="relative mt-24 flex w-full flex-col items-center justify-center overflow-x-hidden leading-normal tracking-tight"
>
    <section class="mt-8 flex w-full max-w-3xl flex-col justify-center px-6 sm:mt-32">
        <article class="text-start">
            <h1 class="mb-5 w-full text-6xl font-medium sm:w-3/4 sm:text-7xl">Сотрудник</h1>
            <p class="text-xl sm:text-2xl">Здесь вы можете добавить сотрудника</p>
        </article>
    </section>
    <section class="mt-5 flex w-full max-w-3xl flex-col items-center justify-center gap-2 px-6 pb-3 ">
        <form class="flex w-full flex-col gap-4" method="POST" enctype="multipart/form-data" action="/admin/staff/add">
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Имя</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="name_ru"
                    id="name_ru"
                    placeholder="{{_('Асан Асанов')}}"
                    required
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Имя на английском</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="name_en"
                    id="name_en"
                    placeholder="{{_('Асан Асанов')}}"
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Имя на кыргызском</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="name_ky"
                    id="name_ky"
                    placeholder="{{_('Асан Асанов')}}"
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Описание</label>
                <textarea
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="description_ru"
                    id="description_ru"
                    placeholder="{{_('Асан Асанов')}}"
                    required
                ></textarea>
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Описание на английском</label>
                <textarea
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="description_en"
                    id="description_en"
                    placeholder="{{_('Асан Асанов')}}"
                ></textarea>
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Описание на кыргызском </label>
                <textarea
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="description_ky"
                    id="description_ky"
                    placeholder="{{_('Асан Асанов')}}"
                ></textarea>
            </div>

            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Фотография</label>
                <input
                    class="h-12 w-full cursor-pointer rounded-xl border-2 border-gray-200 bg-transparent pr-2 file:mr-4 file:h-full file:cursor-pointer file:rounded-md file:border-0 file:bg-sky-500 file:text-sm file:font-semibold file:text-white file:transition-colors file:ease-in-out file:hover:bg-sky-400"
                    type="file"
                    accept="image/png, image/jpeg, image/jpg"
                    name="picture"
                    id="picture"
                    required
                />
            </div>
            <button
                class="mt-5 flex items-center justify-center rounded-lg bg-sky-500 py-2 text-white hover:bg-sky-400"
                type="submit"
            >
                Добавить
            </button>
        </form>
    </section>
</main>
{% endblock %}
