{% extends "admin/layout.html" %} {% block additional_scripts %} {% endblock %} {% block title %}Добавить тип события{%
endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<main
    class="relative mt-24 flex w-full flex-col items-center justify-center overflow-x-hidden leading-normal tracking-tight"
>
    <section class="mt-8 flex w-full max-w-3xl flex-col justify-center px-6 sm:mt-32">
        <article class="text-start">
            <h1 class="mb-5 w-full text-6xl font-medium sm:w-3/4 sm:text-7xl">Тип события</h1>
            <p class="text-xl sm:text-2xl">Здесь вы можете добавить тип события</p>
        </article>
    </section>
    <section class="sm:mt-20 mt-5 flex w-full max-w-3xl flex-col items-center justify-center gap-2 px-6 pb-3">
        <form class="w-full flex flex-col gap-4" method="POST" action="/admin/event_type/add">
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Название</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Мастер класс"
                    required
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Описание</label>
                <textarea
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="description"
                    id="description"
                    placeholder="Асан Асанов"
                    required
                ></textarea>
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Цвет</label>
                <div class="flex justify-evenly items-center flex-wrap gap-3">
                    {% for color in colors %}
                    <input
                        class="size-6 bg-{{ color }} text-{{ color }}"
                        type="radio"
                        name="color"
                        value="{{ color }}"
                        id="{{ color }}"
                    />
                    {% endfor %}
                </div>
            </div>
            <button
                class="mt-5 hover:bg-sky-400 flex py-2 bg-sky-500 text-white justify-center items-center rounded-lg"
                type="submit"
            >
                Добавить
            </button>
        </form>
    </section>
</main>
{% endblock %}
