{% extends "admin/layout.html" %} {% block additional_scripts %}
<script src="/static/scripts/idempotency.js" defer></script>
{% endblock %} {% block title %}Добавить тип события{% endblock %} {% block head %} {{ super() }} {% endblock %} {%
block content %}
<main
    class="relative mt-24 flex w-full flex-col items-center justify-center overflow-x-hidden leading-normal tracking-tight"
>
    <section class="mt-8 flex w-full max-w-3xl flex-col justify-center px-6 sm:mt-32">
        <article class="text-start">
            <h1 class="mb-5 w-full text-6xl font-medium sm:w-3/4 sm:text-7xl">Тип события</h1>
            <p class="text-xl sm:text-2xl">Здесь вы можете изменить тип события</p>
        </article>
    </section>
    <section class="mt-5 flex w-full max-w-3xl flex-col items-center justify-center gap-2 px-6 pb-3 sm:mt-20">
        <form class="flex w-full flex-col gap-4" method="POST" action="/admin/event_type/edit/{{ event_type.id }}">
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Название</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Мастер класс"
                    required
                    value="{{ event_type.name }}"
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Описание</label>
                <textarea
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="description"
                    id="description"
                    placeholder="Асан Асанов"
                    required
                >
{{ event_type.description }}</textarea
                >
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Цвет</label>
                <div class="flex flex-wrap items-center justify-evenly gap-3">
                    <input
                        class="size-6 bg-{{ event_type.color }} text-{{ event_type.color }}"
                        type="radio"
                        name="color"
                        value="{{ event_type.color }}"
                        id="{{ event_type.color }}"
                        checked="checked"
                    />
                    {% for color in colors %}
                    <input
                        class="size-6 bg-{{ color }} text-{{ color }}"
                        type="radio"
                        name="color"
                        value="{{ color }}"
                        id="{{ color }}"
                    />
                    {% endfor %}
                </div>
            </div>
            <button
                class="mt-5 flex items-center justify-center rounded-lg bg-sky-500 py-2 text-white hover:bg-sky-400"
                type="submit"
            >
                Сохранить
            </button>
        </form>
        <form
            class="flex w-full flex-col gap-4"
            method="POST"
            action="/admin/event_type/delete/{{ event_type.id }}"
            onsubmit="return confirm('Вы уверены, что хотите удалить этот события?');"
        >
            <button
                class="mt-5 flex items-center justify-center rounded-lg bg-red-500 py-2 text-white hover:bg-red-400"
                type="submit"
            >
                Удалить
            </button>
        </form>
    </section>
</main>
{% endblock %}
