<!-- prettier-ignore -->
{% extends "admin/layout.html" %} 
{% block additional_scripts %}
<script src="/static/scripts/idempotency.js" defer></script>
{% endblock %}
<!-- prettier-ignore -->
{% block title %}Редактировать отзыв{% endblock %} 
{% block head %} {{ super() }} {% endblock %} 
{% block content %}

<main
    class="relative mt-24 flex w-full flex-col items-center justify-center overflow-x-hidden leading-normal tracking-tight"
>
    <section class="mt-8 flex w-full max-w-3xl flex-col justify-center px-6 sm:mt-20">
        <article class="text-start">
            <h1 class="mb-5 w-full text-6xl font-medium sm:w-3/4 sm:text-7xl">Отзыв</h1>
            <p class="text-xl sm:text-2xl">Здесь вы можете добавить отзыв</p>
        </article>
    </section>
    <section class="mt-5 flex w-full max-w-3xl flex-col items-center justify-center gap-2 px-6 pb-3 sm:mt-10">
        <form class="flex w-full flex-col gap-4" method="POST" action="/admin/feedback/add">
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="name">Имя*</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Асан Асанов"
                    required
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="message">Отзыв*</label>
                <textarea
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="message"
                    id="message"
                    placeholder="Очень хороший курс!"
                    required
                ></textarea>
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="created_at">Дата*</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="date"
                    name="created_at"
                    id="date"
                    required
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="course">Курс</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="course"
                    id="name"
                    placeholder="Английский для начинающих"
                    required
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="email">Email</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="email"
                    name="email"
                    id="email"
                    placeholder="asan.asanov@email.com"
                    required
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="number">Номер телефона</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="tel"
                    name="number"
                    id="number"
                    placeholder="+996 555 55 55 55"
                    required
                />
            </div>
            <button
                class="mt-5 flex items-center justify-center rounded-lg bg-sky-500 py-2 text-white hover:bg-sky-400"
                type="submit"
            >
                Добавить
            </button>
        </form>
    </section>
</main>
{% endblock %}
