<!-- prettier-ignore -->
{% extends "admin/layout.html" %} 
{% block additional_scripts %}
<script src="/static/scripts/idempotency.js" defer></script>
{% endblock %}
<!-- prettier-ignore -->
{% block title %}Редактировать отзыв{% endblock %} 
{% block head %} {{ super() }} {% endblock %} 
{% block content %}

<main
    class="relative mt-24 flex w-full flex-col items-center justify-center overflow-x-hidden leading-normal tracking-tight"
>
    <section class="mt-8 flex w-full max-w-3xl flex-col justify-center px-6 sm:mt-20">
        <article class="text-start">
            <h1 class="mb-5 w-full text-6xl font-medium sm:w-3/4 sm:text-7xl">Отзыв</h1>
            <p class="text-xl sm:text-2xl">Здесь вы можете добавить отзыв</p>
        </article>
    </section>
    <section class="mt-5 flex w-full max-w-3xl flex-col items-center justify-center gap-2 px-6 pb-3 sm:mt-10">
        <form
            class="flex w-full flex-col gap-4"
            method="POST"
            enctype="multipart/form-data"
            action="/admin/feedback/edit/{{ feedback.id }}"
        >
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="name">Имя*</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Асан Асанов"
                    value="{{ feedback.name }}"
                    required
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="message">Отзыв*</label>
                <textarea
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="message"
                    id="message"
                    placeholder="Очень хороший курс!"
                    required
                >
{{ feedback.message }}</textarea
                >
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="created_at">Дата*</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="date"
                    name="created_at"
                    id="date"
                    value="{{ feedback.created_at }}"
                    required
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="course">Курс</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="course"
                    id="name"
                    placeholder="Английский для начинающих"
                    value="{{ feedback.course }}"
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Фотография</label>
                <input
                    class="h-12 w-full cursor-pointer rounded-xl border-2 border-gray-200 bg-transparent pr-2 file:mr-4 file:h-full file:cursor-pointer file:rounded-md file:border-0 file:bg-sky-500 file:text-sm file:font-semibold file:text-white file:transition-colors file:ease-in-out file:hover:bg-sky-400"
                    type="file"
                    accept="image/png, image/jpeg, image/jpg, image/webp"
                    name="picture"
                    id="picture"
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="email">Email</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="email"
                    name="email"
                    id="email"
                    placeholder="asan.asanov@email.com"
                    value="{{ feedback.email }}"
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="number">Номер телефона</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="tel"
                    name="number"
                    id="number"
                    placeholder="+996 555 55 55 55"
                    value="{{ feedback.number }}"
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="is_verified">Опубликован</label>
                {% if feedback.is_verified %}
                <input class="size-7 rounded-md" type="checkbox" name="is_verified" id="is_verified" checked />
                {% else %}
                <input class="size-7 rounded-md" type="checkbox" name="is_verified" id="is_verified" />
                {% endif %}
            </div>
            <button
                class="mt-5 flex items-center justify-center rounded-lg bg-sky-500 py-2 text-white hover:bg-sky-400"
                type="submit"
            >
                Сохранить
            </button>
        </form>
        <form
            class="flex w-full flex-col gap-4"
            method="POST"
            action="/admin/feedback/delete/{{ feedback.id }}"
            onsubmit="return confirm('Вы уверены, что хотите удалить этот отзыв?');"
        >
            <button
                class="mt-5 flex items-center justify-center rounded-lg bg-red-500 py-2 text-white hover:bg-red-400"
                type="submit"
            >
                Удалить
            </button>
        </form>
    </section>
</main>
{% endblock %}
