@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "GT Walsheim Pro", "Ubuntu", sans-serif;
}
@font-face {
    font-family: "GT Walsheim Pro";
    src: url("/static/elements/fonts/GTWalsheimPro-UltraLight.ttf");
    font-weight: 100; /* Ultra Light */
}
@font-face {
    font-family: "GT Walsheim Pro";
    src: url("/static/elements/fonts/GTWalsheimPro-Thin.ttf");
    font-weight: 200; /* Thin */
}
@font-face {
    font-family: "GT Walsheim Pro";
    src: url("/static/elements/fonts/GTWalsheimPro-Light.ttf");
    font-weight: 300; /* Light */
}

@font-face {
    font-family: "GT Walsheim Pro";
    src: url("/static/elements/fonts/GTWalsheimPro-Regular.ttf");
    font-weight: 400; /* Regular */
}

@font-face {
    font-family: "GT Walsheim Pro";
    src: url("/static/elements/fonts/GTWalsheimPro-Medium.ttf");
    font-weight: 500; /* Medium */
}

@font-face {
    font-family: "GT Walsheim Pro";
    src: url("/static/elements/fonts/GTWalsheimPro-Bold.ttf");
    font-weight: 700; /* Bold */
}

@font-face {
    font-family: "GT Walsheim Pro";
    src: url("/static/elements/fonts/GTWalsheimPro-UltraBold.ttf");
    font-weight: 800; /* Ultra Bold */
}

.sortable-ghost {
    @apply opacity-10;
}

textarea {
    field-sizing: content;
}

@view-transition {
    navigation: auto;
}

@keyframes move-up {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.move-up {
    opacity: 0;
    -webkit-animation: move-up 0.8s ease-in-out forwards;
    -moz-animation: move-up 0.8s ease-in-out forwards;
    animation: move-up 0.8s ease-in-out forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    -webkit-animation: fade-in 0.8s ease-in-out forwards;
    -moz-animation: fade-in 0.8s ease-in-out forwards;
    animation: fade-in 0.8s ease-in-out forwards;
}
