<!-- prettier-ignore -->
{% extends "admin/layout.html" %} 
{% block additional_scripts %}
<script src="/static/scripts/idempotency.js" defer></script>
<!-- prettier-ignore -->
{% endblock %} 
{% block title %}Заявки{% endblock %} 
{% block head %} {{ super() }} {% endblock %} 
{% block content %}

<main
    class="relative mt-24 flex w-full flex-col items-center justify-center overflow-x-hidden leading-normal tracking-tight"
>
    <section
        class="mb-20 mt-10 flex w-full max-w-7xl flex-col items-center justify-center gap-2 overflow-auto px-6 pb-3 sm:mt-20"
    >
        <h2 class="mb-5 flex w-full items-end gap-2 text-4xl font-medium sm:text-5xl">
            Заявки
            <a
                href="/admin/applications/old/registration/1"
                class="mb-1 rounded-lg bg-sky-500 px-2 py-1 text-sm text-white hover:bg-sky-400"
                >Скрытые</a
            >
        </h2>

        <div class="relative w-full overflow-auto">
            <table class="w-full overflow-hidden rounded-lg bg-white text-sm">
                <thead class="bg-blue-500 text-white">
                    <tr class="h-12 border-b *:px-4 *:text-left">
                        <th>Имя</th>
                        <th>Телефон</th>
                        <th>Дата подачи</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                <tbody class="">
                    {% for application in applications %}
                    <tr class="border-b *:p-4 even:bg-gray-100">
                        <td class="font-medium">{{ application.name }}</td>
                        <td>{{ application.phone }}</td>
                        <td>{{ application.created_at.strftime("%d.%m.%Y %H:%M") }}</td>
                        <td>
                            <button
                                onclick="toggleApplication(this, 'registration', '{{ application.id }}')"
                                class="rounded-md bg-sky-500 px-2 py-2 text-white hover:bg-sky-400"
                            >
                                Скрыть
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <section
        class="mb-20 mt-10 flex w-full max-w-7xl flex-col items-center justify-center gap-2 overflow-auto px-6 pb-3 sm:mt-20"
    >
        <h2 class="mb-5 flex w-full items-end gap-2 text-4xl font-medium sm:text-5xl">
            TOEFL Заявки
            <a
                href="/admin/applications/old/toefl/1"
                class="mb-1 rounded-lg bg-sky-500 px-2 py-1 text-sm text-white hover:bg-sky-400"
                >Скрытые</a
            >
        </h2>

        <div class="relative w-full overflow-auto">
            <table class="w-full overflow-hidden rounded-lg bg-white text-sm">
                <thead class="bg-blue-500 text-white">
                    <tr class="h-12 border-b *:px-4 *:text-left">
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Почта</th>
                        <th>Телефон</th>
                        <th>Дата подачи</th>
                        <th>День сдачи</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                <tbody class="">
                    {% for application in toefl %}
                    <tr class="border-b *:p-4 even:bg-gray-100">
                        <td class="font-medium">{{ application.first_name }}</td>
                        <td>{{ application.last_name }}</td>
                        <td>{{ application.email }}</td>
                        <td>{{ application.phone }}</td>
                        <td>{{ application.created_at.strftime("%d.%m.%Y %H:%M") }}</td>
                        <td class="font-bold text-blue-500">{{ application.date.strftime("%d.%m.%Y") }}</td>
                        <td>
                            <button
                                onclick="toggleApplication(this, 'toefl', '{{ application.id }}')"
                                class="rounded-md bg-sky-500 px-2 py-2 text-white hover:bg-sky-400"
                            >
                                Скрыть
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</main>
<script>
    function toggleApplication(element, type, id) {
        fetch(`/admin/applications/toggle_handle/${type}/${id}`, {
            method: "POST",
        })
            .then((response) => response.json())
            .then((data) => {
                if (data.error) {
                    console.error(data.error);
                    // Optionally, show an error message to the user
                } else {
                    if (data.handled) {
                        element.parentNode.parentNode.classList.add("opacity-50");
                        element.innerText = "Вернуть";
                    } else {
                        element.innerText = "Скрыть";
                        element.parentNode.parentNode.classList.remove("opacity-50");
                    }
                    console.log("Handled state:", data.handled);
                    // Optionally, update the UI based on the new handled state
                }
            });
    }
</script>

{% endblock %}
