{% extends "admin/layout.html" %} {% block additional_scripts %}
<script src="/static/scripts/calendar.js" defer></script>
<script src="/static/scripts/idempotency.js" defer></script>
{% endblock %} {% block title %}Курсы{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<main
    class="relative mt-24 flex w-full flex-col items-center justify-center overflow-x-hidden leading-normal tracking-tight"
>
    <section class="mt-8 flex w-full max-w-7xl flex-col justify-center px-6 sm:mt-32">
        <article class="flex flex-col items-start justify-center">
            <h1 class="mb-5 flex w-full items-center justify-start gap-5 text-start text-6xl font-medium sm:text-7xl">
                Ивенты
                <a
                    class="rounded-lg bg-sky-500 px-3 py-2 text-base text-white hover:bg-sky-400"
                    href="/admin/event_type/add"
                    >Добавить тип +</a
                >
            </h1>
            <p class="text-xl sm:text-2xl">Здесь вы можете изменить информацию о событиях</p>
        </article>
    </section>

    <section class="mt-10 flex w-full max-w-7xl flex-col items-center justify-center gap-2 px-6 pb-3 sm:mt-20">
        <h2 class="mb-5 flex w-full items-center justify-start gap-5 text-4xl font-medium sm:text-5xl">Календарь</h2>
        <div class="flex w-full flex-wrap-reverse justify-center lg:justify-between">
            <!-- Events -->
            <div class="flex w-[430px] flex-col gap-7 lg:w-1/2">
                <h3 class="text-lg font-semibold text-gray-700">Предстоящие события</h3>
                <ul id="events" class="flex flex-col gap-3">
                    <div class="hidden border-emerald-300 bg-emerald-300"></div>
                    <div class="hidden border-indigo-300 bg-indigo-300"></div>
                    <div class="hidden border-fuchsia-300 bg-fuchsia-300"></div>
                    <div class="hidden border-rose-300 bg-rose-300"></div>
                    <div class="hidden border-amber-300 bg-amber-300"></div>
                </ul>
            </div>
            <!-- End Events -->

            <!-- Calendar -->
            <div class="mb-4 space-y-1">
                <!-- Months -->
                <div class="mx-1.5 grid grid-cols-5 items-center gap-x-3 pb-3">
                    <!-- Prev Button -->
                    <div class="col-span-1">
                        <button
                            type="button"
                            class="flex h-8 w-8 items-center justify-center rounded-full text-gray-800 hover:bg-gray-100"
                            onclick="prevMonth()"
                        >
                            <svg
                                class="h-4 w-4 flex-shrink-0"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path d="m15 18-6-6 6-6" />
                            </svg>
                        </button>
                    </div>
                    <!-- End Prev Button -->

                    <!-- Month -->
                    <div
                        id="month-name"
                        class="col-span-3 flex items-center justify-center gap-x-1 text-base sm:text-2xl"
                    ></div>
                    <!-- End Month -->

                    <!-- Next Button -->
                    <div class="col-span-1 flex justify-end">
                        <button
                            type="button"
                            class="flex h-8 w-8 items-center justify-center rounded-full text-gray-800 hover:bg-gray-100"
                            onclick="nextMonth()"
                        >
                            <svg
                                class="h-4 w-4 flex-shrink-0"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path d="m9 18 6-6-6-6" />
                            </svg>
                        </button>
                    </div>
                    <!-- End Next Button -->
                </div>
                <!-- Months -->

                <!-- Weeks -->
                <div class="flex pb-1.5">
                    {% for weekday in ("Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс") %}
                    <span class="m-px block w-10 text-center text-sm text-gray-500 sm:m-3 sm:text-xl">
                        {{ weekday }}
                    </span>
                    {% endfor %}
                </div>
                <!-- Weeks -->

                <!-- Days -->
                <div id="month-matrix"></div>
                <!-- Days -->
            </div>
            <!-- End Calendar -->
        </div>
    </section>

    <section class="mb-36 flex w-full max-w-7xl flex-col items-center justify-center gap-2 px-6 pb-3">
        {% for event_type, events in event_dict.items() %}
        <div class="flex-colsm:mt-20 mt-10 flex w-full flex-col">
            <h2
                class="mb-5 flex w-full items-baseline justify-start gap-5 text-4xl font-medium hover:text-gray-800 sm:text-5xl break-words hyphens-auto"
            >
                <a class="underline" href="/admin/event_type/edit/{{ event_type.id }}">{{ event_type.name }}</a>
                <a
                    class="rounded-lg bg-sky-500 px-3 py-2 text-base text-white hover:bg-sky-400 break-normal min-w-fit"
                    href="/admin/event/add?event_type_id={{ event_type.id }}"
                >
                    Событие +</a
                >
            </h2>

            <p class="mb-5 flex w-full items-center justify-start gap-5 text-xl sm:text-2xl">
                {{ event_type.description }}
            </p>
        </div>

        <div class="mt-5 grid w-full grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
            {% for event in events %}
            <article
                class="rounded-lg shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] py-5 w-full px-2 flex justify-between flex-col border-l-8 border-{{ event_type.color }}"
            >
                <div class="flex w-full flex-col gap-1">
                    <p>
                        <span class="text-lg font-semibold break-words hyphens-auto">{{ event.name }}</span>
                        <span class="text-gray-400">{{ event.date }}</span>
                    </p>
                    <span>{{ event.description }}</span>
                </div>
                <form
                    action="/admin/event/delete/{{ event.id }}"
                    method="POST"
                    onsubmit="return confirm('Вы уверены, что хотите удалить это событие?');"
                    class="flex w-full items-center justify-evenly mt-4"
                >
                    <a
                        class="rounded-lg bg-sky-500 px-5 py-2 text-white hover:bg-sky-400"
                        href="/admin/event/edit/{{ event.id }}"
                        >Редактировать</a
                    >
                    <button type="submit" class="text-red-500 hover:text-red-600">Удалить</button>
                </form>
            </article>
            {% endfor %}
        </div>
        {% endfor %}
    </section>
</main>
{% endblock %}
