{% extends "admin/layout.html" %} {% block additional_scripts %} {% endblock %} {% block title %}Курсы{% endblock %} {%
block head %} {{ super() }} {% endblock %} {% block content %}
<main
    class="relative mt-24 flex w-full flex-col items-center justify-center overflow-x-hidden leading-normal tracking-tight"
>
    <section class="mt-8 flex w-full max-w-3xl flex-col justify-center px-6 sm:mt-32">
        <article class="text-start">
            <h1 class="mb-5 w-full text-6xl font-medium sm:w-3/4 sm:text-7xl">Курс</h1>
            <p class="text-xl sm:text-2xl">Здесь вы можете добавить курс</p>
        </article>
    </section>
    <section class="sm:mt-20 mt-5 flex w-full max-w-3xl flex-col items-center justify-center gap-2 px-6 pb-3">
        <form
            class="w-full flex flex-col gap-4"
            method="POST"
            enctype="multipart/form-data"
            action="/admin/course/add"
        >
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Название</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Python"
                    required
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Описание</label>
                <textarea
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="description"
                    id="description"
                    placeholder="Описание курсы"
                    required
                ></textarea>
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Ссылка</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="link"
                    id="link"
                    placeholder="python"
                    required
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Группа</label>
                <select
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="course_group_id"
                    id="course_group_id"
                    required
                >
                    <option value="{{ course_group.id }}">{{ course_group.name }}</option>
                    {% for course_group in course_groups %}
                    <option value="{{ course_group.id }}">{{ course_group.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Фотография</label>
                <input
                    class="h-12 w-full cursor-pointer rounded-xl border-2 border-gray-200 bg-transparent pr-2 file:mr-4 file:h-full file:cursor-pointer file:rounded-md file:border-0 file:bg-sky-500 file:text-sm file:font-semibold file:text-white file:transition-colors file:ease-in-out file:hover:bg-sky-400"
                    type="file"
                    accept="image/png image/jpeg image/jpg "
                    name="picture"
                    id="picture"
                    required
                />
            </div>
            <button
                class="mt-5 hover:bg-sky-400 flex py-2 bg-sky-500 text-white justify-center items-center rounded-lg"
                type="submit"
            >
                Добавить
            </button>
        </form>
    </section>
</main>
{% endblock %}
