{% extends "admin/layout.html" %} {% block additional_scripts %}
<script src="/static/scripts/idempotency.js" defer></script>
{% endblock %} {% block title %}Курсы{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<main
    class="relative mt-24 flex w-full flex-col items-center justify-center overflow-x-hidden leading-normal tracking-tight"
>
    <section class="mt-8 flex w-full max-w-7xl flex-col justify-center px-6 sm:mt-32">
        <article class="flex flex-col items-start justify-center">
            <h1 class="mb-5 flex w-full items-center justify-start gap-5 text-start text-6xl font-medium sm:text-7xl">
                Курсы
                <a
                    class="rounded-lg bg-sky-500 px-3 py-2 text-base text-white hover:bg-sky-400"
                    href="/admin/course_group/add"
                    >Добавить группу +</a
                >
            </h1>
            <p class="text-xl sm:text-2xl">Здесь вы можете изменить информацию о курсах</p>
        </article>
    </section>

    <section class="mb-36 flex w-full max-w-7xl flex-col items-center justify-center gap-2 px-6 pb-3">
        {% for course_group, courses in course_dict.items() %}
        <div class="flex-colsm:mt-20 mt-10 flex w-full flex-col">
            <h2
                class="mb-5 flex w-full items-baseline justify-start gap-5 hyphens-auto break-words text-4xl font-medium hover:text-gray-800 sm:text-5xl"
            >
                <a class="underline" href="/admin/course_group/edit/{{ course_group.id }}">{{ course_group.name }}</a>
                <a
                    class="min-w-fit break-normal rounded-lg bg-sky-500 px-3 py-2 text-base text-white hover:bg-sky-400"
                    href="/admin/course/add?course_group_id={{ course_group.id }}"
                    >Курс +</a
                >
            </h2>

            <p class="mb-5 flex w-full items-center justify-start gap-5 text-xl sm:text-2xl">
                {{ course_group.description }}
            </p>
            <!-- <img
                class="max-h-32 object-contain object-left rounded-md w-min"
                src="{{ course_group.picture_url }}"
                alt=""
            /> -->
        </div>

        <div class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
            {% for course in courses %}
            <article
                class="flex flex-col items-center justify-center gap-3 rounded-xl p-6 shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]"
            >
                <img class="rounded-xl bg-gray-200 object-cover" src="{{ course.picture_url }}" alt="" />
                <div class="flex w-full flex-col gap-1">
                    <h3 class="text-2xl font-semibold sm:text-3xl">{{ course.name }}</h3>
                    <p class="text-lg">{{ course.description }}</p>
                </div>
                <form
                    action="/admin/course/delete/{{ course.id }}"
                    method="POST"
                    onsubmit="return confirm('Вы уверены, что хотите удалить этого учителя?');"
                    class="flex w-full items-center justify-evenly"
                >
                    <a
                        class="rounded-lg bg-sky-500 px-5 py-2 text-white hover:bg-sky-400"
                        href="/admin/course/edit/{{ course.id }}"
                        >Редактировать</a
                    >
                    <button type="submit" class="text-red-500 hover:text-red-600">Удалить</button>
                </form>
            </article>
            {% endfor %}
        </div>
        {% endfor %}
    </section>
</main>
{% endblock %}
