{% extends "admin/layout.html" %} {% block additional_scripts %}
<script src="/static/scripts/idempotency.js" defer></script>
{% endblock %} {% block title %}Расписание{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content
%}
<main
    class="relative mt-24 flex w-full flex-col items-center justify-center overflow-x-hidden leading-normal tracking-tight"
>
    <section class="mt-8 flex w-full max-w-3xl flex-col justify-center px-6 sm:mt-32">
        <article class="text-start">
            <h1 class="mb-5 w-full text-6xl font-medium sm:w-3/4 sm:text-7xl">Расписание</h1>
            <p class="text-xl sm:text-2xl">Здесь вы можете добавить расписание для курса</p>
        </article>
    </section>
    <section class="mb-20 mt-5 flex w-full max-w-3xl flex-col items-center justify-center gap-2 px-6 pb-3 sm:mt-20">
        <form
            class="flex w-full flex-col gap-4"
            method="POST"
            enctype="multipart/form-data"
            action="/admin/course/timetable/edit/{{ timetable.id }}"
        >
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Название</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="name_ru"
                    id="name_ru"
                    value="{{ timetable._name.get('ru') }}"
                    placeholder="Программирование"
                    required
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Название на английском</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="name_en"
                    id="name_en"
                    value="{{ timetable._name.get('en') }}"
                    placeholder="Программирование"
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Название на кыргызском</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="name_ky"
                    id="name_ky"
                    value="{{ timetable._name.get('ky') }}"
                    placeholder="Программирование"
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Описание</label>
                <textarea
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="description_ru"
                    id="description_ru"
                    placeholder="Описание группы курсов"
                    required
                >
{{ timetable._description.get("ru") }}</textarea
                >
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Описание на английском</label>
                <textarea
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="description_en"
                    id="description_en"
                    placeholder="Описание группы курсов"
                >
{{ timetable._description.get("en") }}</textarea
                >
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Описание на кыргызском</label>
                <textarea
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="description_ky"
                    id="description_ky"
                    placeholder="Описание группы курсов"
                >
{{ timetable._description.get("ky") }}</textarea
                >
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Длительность</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="duration_ru"
                    id="duration_ru"
                    value="{{ timetable._duration.get('ru') }}"
                    placeholder="3 месяца"
                    required
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Длительность на английском</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="duration_en"
                    id="duration_en"
                    value="{{ timetable._duration.get('en') }}"
                    placeholder="3 месяца"
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Длительность на кыргызском</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="duration_ky"
                    id="duration_ky"
                    value="{{ timetable._duration.get('ky') }}"
                    placeholder="3 месяца"
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Цена</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="price_ru"
                    id="price_ru"
                    value="{{ timetable._price.get('ru') }}"
                    placeholder="5000 сом + 1500 сом за учебник"
                    required
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Цена на английском</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="price_en"
                    id="price_en"
                    value="{{ timetable._price.get('en') }}"
                    placeholder="5000 сом + 1500 сом за учебник"
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Цена на кыргызском</label>
                <input
                    class="rounded-xl border-2 border-gray-200 py-3 text-lg"
                    type="text"
                    name="price_ky"
                    id="price_ky"
                    value="{{ timetable._price.get('ky') }}"
                    placeholder="5000 сом + 1500 сом за учебник"
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="">Курс</label>
                <select
                    class="rounded-xl border border-gray-200 py-3 text-lg"
                    type="text"
                    name="course_id"
                    id="course_id"
                    required
                >
                    {% for course_group in course_groups %}
                    <optgroup label="{{ course_group.name }}">
                        {% for course in course_group.courses %} {% if course.id == timetable.course_id %}
                        <option selected value="{{ course.id }}">{{ course.name }}</option>
                        {% else %}
                        <option value="{{ course.id }}">{{ course.name }}</option>
                        {% endif %} {% endfor %}
                    </optgroup>
                    {% endfor %}
                </select>
            </div>
            <div class="flex flex-wrap items-center justify-center gap-2">
                <div class="flex flex-col items-center justify-center">
                    <label for="monday">ПН</label>
                    <input
                        class="rounded-lg border-2 p-1"
                        value="{{ timetable.json_data['1'].time}}"
                        type="time"
                        name="monday"
                        id="monday"
                        placeholder="19:00"
                    />
                </div>
                <div class="flex flex-col items-center justify-center">
                    <label for="tuesday">ВТ</label>
                    <input
                        class="rounded-lg border-2 p-1"
                        value="{{ timetable.json_data['2'].time}}"
                        type="time"
                        name="tuesday"
                        id="tuesday"
                        placeholder="19:00"
                    />
                </div>
                <div class="flex flex-col items-center justify-center">
                    <label for="wednesday">СР</label>
                    <input
                        class="rounded-lg border-2 p-1"
                        value="{{ timetable.json_data['3'].time}}"
                        type="time"
                        name="wednesday"
                        id="wednesday"
                        placeholder="19:00"
                    />
                </div>
                <div class="flex flex-col items-center justify-center">
                    <label for="thursday">ЧТ</label>
                    <input
                        class="rounded-lg border-2 p-1"
                        value="{{ timetable.json_data['4'].time}}"
                        type="time"
                        name="thursday"
                        id="thursday"
                        placeholder="19:00"
                    />
                </div>
                <div class="flex flex-col items-center justify-center">
                    <label for="friday">ПТ</label>
                    <input
                        class="rounded-lg border-2 p-1"
                        value="{{ timetable.json_data['5'].time}}"
                        type="time"
                        name="friday"
                        id="friday"
                        placeholder="19:00"
                    />
                </div>
                <div class="flex flex-col items-center justify-center">
                    <label for="saturday">СБ</label>
                    <input
                        class="rounded-lg border-2 p-1"
                        value="{{ timetable.json_data['6'].time}}"
                        type="time"
                        name="saturday"
                        id="saturday"
                        placeholder="19:00"
                    />
                </div>
                <div class="flex flex-col items-center justify-center">
                    <label for="sunday">ВС</label>
                    <input
                        class="rounded-lg border-2 p-1"
                        value="{{ timetable.json_data['7'].time}}"
                        type="time"
                        name="sunday"
                        id="sunday"
                        placeholder="19:00"
                    />
                </div>
            </div>
            <button
                class="mt-5 flex items-center justify-center rounded-lg bg-sky-500 py-2 text-white hover:bg-sky-400"
                type="submit"
            >
                Сохранить
            </button>
        </form>
    </section>
</main>
{% endblock %}
